@font-face {
	font-family: "FontFirst";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
	font-family: "FontFirstBold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
	font-family: "FontFirstExtraBold";
    src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
}
@font-face {
	font-family: "FontFirst2";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
	font-family: "FontFirst2Bold";
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
	font-family: "FontFirst3";
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
	font-family: "FontFirst3Bold";
    src: url("../fonts/Raleway/Raleway-Bold.ttf");
}