.pagination {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 20px 0;
	cursor: default;
	li {
		list-style: none;
		display: inline-block;
		font-size: 12pt;
		font-weight: 600;

		width: 120px;
		height: 45px;
		line-height: 45px;
		margin: 0 7.5px;
		text-align: center;
		color: $txt-sek-color;
		border-radius: $radius;
	}
	li.active {
		cursor: not-allowed;
	}
	a {
		display: block;
		width: 120px;
		height: 45px;
		line-height: 45px;
		margin: 0 7.5px;
		text-align: center;
		background-color: $min-color;
		color: $sek-color;
		border-radius: $radius;
	}
}

.sc-bottom {
	position: fixed;
	bottom: 15px;
	right: 2.5%;
	z-index: 10;
	.sc-content {
		.btn {
			position: relative;
		}
	}
}
.sc-header {
	position: relative;
	top: 0;
	left: 0;
	min-height: 60px;
	width: 100%;
	cursor: default;
	&.no-height {
		min-height: auto;
	}
	.sc-place {
		position: relative;
		width: 100%;
		padding: 10px 0;
		background-color: $sek-color;
		&.mobile-fixed {
			@media (max-width: $max-width) {
				position: fixed;
				width: 100%;
				top: 0;
				left: 0;
				background-color: #fff;
				z-index: 10;
			}
		}
		&.no-pad {
			padding: 0 0;
		}
		&.pad-5px {
			padding: 5px 0;
		}
		.sc-grid-3x {
			@include grid_3x(1fr, 1fr, 1fr);
		}
		.sc-grid-2x {
			@include grid_2x(1fr, 200px);
			&.col-1-55px {
				@include grid_2x(55px, 1fr);
			}
		}
		.sc-grid-1x {
			@include grid_1x(1fr);
		}
		.sc-grid {
			.sc-col-1 {
				@include column_1();
			}
			.sc-col-2 {
				@include column_2();
				text-align: center;
			}
			.sc-col-3 {
				@include column_3();
			}
			.icn {
				padding: 0 5px;
			}
			.txt-left {
				text-align: left;
			}
			.txt-center {
				text-align: center;
				.ttl {
					position: relative;
					margin: auto;
				}
			}
			.txt-right {
				text-align: right;
			}
			.ttl-head {
				@include post_center(absolute);
				color: $txt-sek-color;
			}
			.ttl-head-2 {
				@include post_top(relative);
				color: $txt-sek-color;
			}
		}
		.sc-block {
			@include col_set(1000px);
			color: $txt-sek-color;
			text-align: center;
		}
		&.pos-fix {
			position: fixed;
			top: 65px;
			z-index: 10;
			background-color: $sek-color;
			opacity: 0.9;
			@media (max-width: $max-width) {
				position: relative;
				top: 0;
				&.mob-fix {
					position: fixed;
					top: 0;
					z-index: 300;
					opacity: 1;
				}
			}
		}
	}
}

.post-nav {
	position: relative;
	height: 40px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 3px;
	background-color: #f0f0f0;
	box-shadow: 0 0 0 2px #f0f0f0;
	font-size: 14px;
	&.radius {
		border-radius: 35px;
	}
	&.width-small {
		width: 250px;
	}
	&.width-all {
		width: 100%;
	}
	ol {
		li {
			position: relative;
			list-style: none;
			float: left;
			
			width: 50%;
			height: 40px;
			line-height: 40px;

			cursor: pointer;
			font-weight: 600;
			color: $txt-sek-color;
			text-align: center;
			&:hover {
				color: $txt-min-color;
			}
			&.active {
				background-color: $sek-color;
				color: $txt-min-color;
			}
			&.choose {
				background-color: $sek-color;
				color: $txt-min-color;
			}
		}
	}
}

.menu-list {
	@include post_center(absolute);
	width: 300px;
	border-radius: $radius-2;
	text-align: center;
	overflow: hidden;
	background-color: #fff;
	.ml-list {
		position: relative;
		width: 100%;
		display: block;
		height: 50px;
		line-height: 50px;
		font-size: 14px;
		font-weight: 600;
		color: $txt-sek-color;
		cursor: pointer;
		&:hover {
			background-color: #f5f5f5;
		}
		&.cancel {
			font-size: 14px;
			font-weight: 500;
			color: $txt-sek-color;
		}
		&.sekunder {
			font-size: 14px;
			font-weight: 600;
			color: $pos-color;
		}
		&.danger {
			font-size: 14px;
			font-weight: 600;
			color: $err-color;
		}
		&.head {
			height: 65px;
			line-height: 65px;
			font-size: 20px;
			font-weight: 600;
			color: $txt-min-color;
			cursor: default;
			&:hover {
				background-color: #fff;
			}
		}
		&.head-2 {
			padding-top: 20px;
			height: 20px;
			line-height: 20px;
			font-size: 20px;
			font-weight: 600;
			color: $txt-min-color;
			cursor: default;
			&:hover {
				background-color: #fff;
			}
		}
		&.msg {
			cursor: default;
			text-align: center;
			&:hover {
				background-color: #fff;
			}
		}
	}
}

.menu-share {
	overflow: hidden;
	border-radius: 3px;
	cursor: default;
	li {
		list-style: none;
		text-align: center;
		cursor: pointer;
		font-size: $txt-size-desc;
		float: left;
		width: 25%;
		&.mn {
			padding: 10px 0;
			border-radius: 0;
		}
		&.btn-color-gg-2 {
		border: 0;
		}
		&.btn {
			padding: 0 0;
			line-height: 40px;
			font-weight: normal;
		}
		.hdr {
			font-size: $txt-size-desc;
		}
	}
}

.place-search-tag {
	position: relative;
	@include grid_3x(40px, 1fr, 40px);
	.st-lef {
		@include column_1();
	}
	.st-mid {
		@include column_2();
		white-space: nowrap;
		overflow: hidden;
		.image {
			display: inline-block;
			margin: 0 2.5px;
			border-radius: 7.5px;
		}
	}
	.st-rig {
		@include column_3();
	}
	.btn {
		position: relative;
		width: 40px;
		height: 50px;
		line-height: 50px;
		border-radius: 0;
		font-size: 20px;
		&.hg-100px {
			height: 100px;
			line-height: 100px;
		}
	}
}

/*navigator*/
.navigator {
	position: relative;
	margin: auto;
    overflow: auto;
    ul {
        li {
            list-style: none;
            float: left;
            text-align: center;
            line-height: 45px;
            font-weight: 600;
            font-size: 11pt;
            &:hover {
                cursor: pointer;
            }
        }
	}
	&.nav-all {
		ul {
			li {
				padding: 0 15px;
				margin-right: 7.5px;
			}
		}
	}
    &.nav-2x {
        ul {
            li {
                width: 50%;
            }
        }
    }
    &.nav-3x {
        ul {
            li {
                width: 33.33%;
            }
        }
    }
    &.nav-4x {
        ul {
            li {
                width: 25%;
            }
        }
    }
    &.nav-5x {
        ul {
            li {
                width: 20%;
            }
        }
    }
}

.nav-theme-1 {
	box-shadow: 0 0 0 2px rgba(0,0,0,0.2);
    border-radius: $radius;
    ul {
        li {
            background-color: rgba(225,225,225,0.54);
            color: $txt-sek-color;
            &:hover {
                color: $txt-min-color;
            }
            &.active {
                background-color: #fff;
	            color: $txt-min-color;
            }
        }
    }
}
.nav-theme-2 {
    background-color: #fff;
    ul {
        li {
            color: $txt-sek-color;
            &:hover {
                color: $txt-min-color;
            }
            &.active {
                background-color: #fff;
                color: $txt-min-color;
                border-bottom: 2px $txt-min-color solid;
            }
        }
    }
}
.nav-theme-3 {
    background-color: #fff;
    ul {
        li {
            color: $txt-sek-color;
            border-radius: 35px;
            &:hover {
                color: $txt-min-color;
            }
            &.active {
                background-color: rgba(225,225,225,0.54);
	            color: $txt-min-color;
            }
        }
    }
}
.nav-theme-4 {
	position: relative;
	width: 100%;
	background-color: #fff;
    ul {
        li {
            color: $txt-sek-color;
            border-radius: 45px;
            &:hover {
                background-color: rgba(225,225,225,0.54);
	            color: $txt-min-color;
            }
            &.active {
                background-color: rgba(225,225,225,0.54);
	            color: $txt-min-color;
            }
        }
    }
}
.nav-wrap {
	white-space: nowrap;
	overflow-x: auto;
	* {
		display: inline-block;
	}
}
.nav-wrap-mobile {
	@media (max-width: $max-width) {
		white-space: nowrap;
		overflow-x: auto;
		* {
			display: inline-block;
		}
	}
}

.navigator-wrap {
	position: relative;
	width: 100%;
	height: 75px;
	.nw-place {
		position: relative;
		width: 100%;
		padding: 5px 0;
		@include grid_3x(35px, 1fr, 35px);
		.grid-1 {
			@include column_1();
		}
		.grid-2 {
			@include column_2();
		}
		.grid-3 {
			@include column_3();
		}
		.place-nav {
			white-space: nowrap;
			overflow: hidden;
		}
		.btn-nav {
			position: relative;
			width: 35px;
			text-align: center;
			cursor: pointer;
			color: $txt-sek-color;
			&:hover {
				color: $txt-min-color;
			}
			.icn {
				@include post_center(absolute);
			}
		}
	}
	&.nw-fixed {
		position: relative;
		width: 100%;
		height: 75px;
		@media (max-width: $max-width) {
			height: 15px;
		}
		.nw-place {
			position: fixed;
			top: 60px;
			left: 0;
			z-index: 100;
			background-color: $sek-color;
		}
	}
	&.nw-fixed-mobile {
		position: fixed;
		top: 60px;
		left: 0;
		z-index: 100;
		background-color: $sek-color;
		@media (max-width: $max-width) {
			position: relative;
			top: 0;
			z-index: 0;
		}
	}
}

.menu-val {
	position: relative;
	&.center {
		margin: auto;
		text-align: center;
		ul {
			li {
				text-align: center;
			}
		}
	}
	a {
		color: $txt-sek-color;
		font-weight: 600;
	}
	.link {
		color: $pos-color;
		font-weight: 600;
		&:hover {
			text-decoration: underline;
		}
	}
	ul {
		position: relative;
		width: 100%;
		cursor: default;
		li {
			position: relative;
			padding: 5px 2.5px;
			display: inline-block;
			vertical-align: middle;
			text-align: left;
			font-weight: 600;
			&.right {
				position: absolute;
				right: 0;
				float: right;
			}
			.val {
				color: $txt-84-color;
				font-family: "FontFirstBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-weight: 600;
				font-size: 11pt;
			}
			.ttl {
				color: $txt-54-color;
				font-weight: 500;
				font-size: 11pt;
			}
			.image {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}