//variable
$col-full : 1300px;
$max-width : 800px;
$std-width : 500px;
$min-width : 300px;

//radius
$radius: 7.5px;
$radius-2: 15px;

//color
$min-color : #bd081c;
$sek-color : #fff;
$pri-color : #f3f3f3;
// $sek-color : #144753;
$pos-color : #529ecc;
$del-color : #9a0000;
$err-color: #ff0000;
$txt-84-color: rgba(0,0,0,0.84);
$txt-54-color: rgba(0,0,0,0.54);
$txt-34-color: rgba(0,0,0,0.34);
$txt-min-color: rgba(0,0,0,0.84);
$txt-sek-color: rgba(0,0,0,0.54);
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//font
$txt-size-title: 22px;
$txt-size-desc: 14px;
$txt-size-desc: 14px;
$txt-size-big: 32px;
$txt-size-12px: 12px;
$txt-size-14px: 14px;
$txt-size-16px: 16px;
$txt-size-18px: 18px;
$txt-size-20px: 20px;

$border: 1px rgba(0,0,0,0.1) solid;
$border2: 1px rgba(0,0,0,0.2) solid;
$no-border: 0 #fff solid;
