.border-all {
  border: 1px rgba(0, 0, 0, 0.1) solid;
}

.border-top {
  border-top: 1px rgba(0, 0, 0, 0.1) solid;
}

.border-bottom {
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}

.border-left {
  border-left: 1px rgba(0, 0, 0, 0.1) solid;
}

.border-right {
  border-right: 1px rgba(0, 0, 0, 0.1) solid;
}

.border-no {
  border: 0 #fff solid;
}

.margin-30px {
  margin: 30px 0;
}

.margin-25px {
  margin: 25px 0;
}

.margin-20px {
  margin: 20px 0;
}

.margin-15px {
  margin: 15px 0;
}

.margin-10px {
  margin: 10px 0;
}

.margin-5px {
  margin: 5px 0;
}

.margin-top-30px {
  margin-top: 30px;
}

.margin-top-25px {
  margin-top: 25px;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-top-15px {
  margin-top: 15px;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-top-5px {
  margin-top: 5px;
}

.margin-bottom-30px {
  margin-bottom: 30px;
}

.margin-bottom-25px {
  margin-bottom: 25px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.margin-bottom-15px {
  margin-bottom: 15px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.margin-bottom-5px {
  margin-bottom: 5px;
}

.padding-30px {
  padding: 30px 0;
}

.padding-25px {
  padding: 25px 0;
}

.padding-20px {
  padding: 20px 0;
}

.padding-15px {
  padding: 15px 0;
}

.padding-10px {
  padding: 10px 0;
}

.padding-5px {
  padding: 5px 0;
}

.padding-top-30px {
  padding-top: 30px;
}

.padding-top-25px {
  padding-top: 25px;
}

.padding-top-20px {
  padding-top: 20px;
}

.padding-top-15px {
  padding-top: 15px;
}

.padding-top-10px {
  padding-top: 10px;
}

.padding-top-5px {
  padding-top: 5px;
}

.padding-bottom-30px {
  padding-bottom: 30px;
}

.padding-bottom-25px {
  padding-bottom: 25px;
}

.padding-bottom-20px {
  padding-bottom: 20px;
}

.padding-bottom-15px {
  padding-bottom: 15px;
}

.padding-bottom-10px {
  padding-bottom: 10px;
}

.padding-bottom-5px {
  padding-bottom: 5px;
}

.width {
  position: relative;
}

.width.width-center {
  margin: auto;
}

.width.width-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.width.width-all {
  width: calc(100% - 30px);
  padding: 0 15px;
}

.width.width-100px {
  width: 100px;
}

@media (max-width: 800px) {
  .width.width-100px {
    width: 100%;
  }
}

.width.width-150px {
  width: 150px;
}

@media (max-width: 800px) {
  .width.width-150px {
    width: 100%;
  }
}

.width.width-200px {
  width: 200px;
}

@media (max-width: 800px) {
  .width.width-200px {
    width: 100%;
  }
}

.width.width-250px {
  width: 250px;
}

@media (max-width: 800px) {
  .width.width-250px {
    width: 100%;
  }
}

.width.width-300px {
  width: 300px;
}

@media (max-width: 800px) {
  .width.width-300px {
    width: 100%;
  }
}

.width.width-350px {
  width: 350px;
}

@media (max-width: 800px) {
  .width.width-350px {
    width: 100%;
  }
}

.width.width-400px {
  width: 400px;
}

@media (max-width: 800px) {
  .width.width-400px {
    width: 100%;
  }
}

.width.width-450px {
  width: 450px;
}

@media (max-width: 800px) {
  .width.width-450px {
    width: 100%;
  }
}

.width.width-500px {
  width: 500px;
}

@media (max-width: 800px) {
  .width.width-500px {
    width: 100%;
  }
}

.width.width-550px {
  width: 550px;
}

@media (max-width: 800px) {
  .width.width-550px {
    width: 100%;
  }
}

.width.width-600px {
  width: 600px;
}

@media (max-width: 800px) {
  .width.width-600px {
    width: 100%;
  }
}

.width.width-650px {
  width: 650px;
}

@media (max-width: 800px) {
  .width.width-650px {
    width: 100%;
  }
}

.width.width-700px {
  width: 700px;
}

@media (max-width: 800px) {
  .width.width-700px {
    width: 100%;
  }
}

.width.width-750px {
  width: 750px;
}

@media (max-width: 800px) {
  .width.width-750px {
    width: 100%;
  }
}

.width.width-800px {
  width: 800px;
}

@media (max-width: 800px) {
  .width.width-800px {
    width: 100%;
  }
}

.width.width-850px {
  width: 850px;
}

@media (max-width: 800px) {
  .width.width-850px {
    width: 100%;
  }
}

.width.width-900px {
  width: 900px;
}

@media (max-width: 800px) {
  .width.width-900px {
    width: 100%;
  }
}

.width.width-950px {
  width: 950px;
}

@media (max-width: 800px) {
  .width.width-950px {
    width: 100%;
  }
}

.width.width-1000px {
  width: 1000px;
}

@media (max-width: 800px) {
  .width.width-1000px {
    width: 100%;
  }
}

.txt-site.txt-big {
  font-size: 42pt;
}

.txt-site.txt-small {
  font-size: 32pt;
}

.txt-site.txt-micro {
  font-size: 26pt;
}

.txt-site.txt-standar {
  font-size: 22pt;
}

.txt-site.txt-title {
  font-size: 18pt;
}

.txt-site.txt-subtitle {
  font-size: 16pt;
}

.txt-site.txt-description {
  font-size: 11pt;
}

.txt-site.txt-8 {
  font-size: 8pt;
}

.txt-site.txt-9 {
  font-size: 9pt;
}

.txt-site.txt-10 {
  font-size: 10pt;
}

.txt-site.txt-11 {
  font-size: 11pt;
}

.txt-site.txt-12 {
  font-size: 12pt;
}

.txt-site.txt-13 {
  font-size: 13pt;
}

.txt-site.txt-14 {
  font-size: 14pt;
}

.txt-site.txt-15 {
  font-size: 15pt;
}

.txt-site.txt-16 {
  font-size: 16pt;
}

.txt-site.txt-17 {
  font-size: 17pt;
}

.txt-site.txt-18 {
  font-size: 18pt;
}

.txt-site.txt-19 {
  font-size: 19pt;
}

.txt-site.txt-20 {
  font-size: 20pt;
}

.txt-site.txt-init {
  color: #bd081c;
}

.txt-site.txt-main-hover:hover {
  color: #bd081c;
}

.txt-site a.txt-main {
  color: rgba(0, 0, 0, 0.84);
}

.txt-site a.txt-main:hover {
  color: #bd081c;
}

.txt-site.txt-main {
  color: rgba(0, 0, 0, 0.84);
}

.txt-site.txt-main a {
  color: rgba(0, 0, 0, 0.84);
}

.txt-site.txt-main a:hover {
  color: #bd081c;
}

.txt-site a.txt-primary {
  color: rgba(0, 0, 0, 0.54);
}

.txt-site a.txt-primary:hover {
  color: rgba(0, 0, 0, 0.84);
}

.txt-site.txt-primary {
  color: rgba(0, 0, 0, 0.54);
}

.txt-site.txt-primary a {
  color: rgba(0, 0, 0, 0.54);
}

.txt-site.txt-primary a:hover {
  color: rgba(0, 0, 0, 0.84);
}

.txt-site.txt-white {
  color: #fff;
}

.txt-site.txt-danger {
  color: #ff0000;
}

.txt-site.txt-safe {
  color: #529ecc;
}

.txt-site.txt-white {
  color: #fff;
}

.txt-site.txt-red {
  color: #e3342f;
}

.txt-site.txt-green {
  color: #38c172;
}

.txt-site.txt-blue {
  color: #3490dc;
}

.txt-site.txt-orange {
  color: #f6993f;
}

.txt-site.txt-cyan {
  color: #6cb2eb;
}

.txt-site.txt-bold {
  font-weight: 600;
  font-family: "FontFirstBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.txt-site.txt-extra-bold {
  font-weight: 600;
  font-family: "FontFirstExtraBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.txt-site.txt-thin {
  font-weight: 500;
  font-family: "FontFirst", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.txt-site.txt-font-1 {
  font-family: "FontFirst", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.txt-site.txt-font-2 {
  font-family: "FontFirst2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.txt-site.txt-font-3 {
  font-family: "FontFirst3", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.txt-site.txt-center {
  text-align: center;
}

.txt-site.txt-left {
  text-align: left;
}

.txt-site.txt-right {
  text-align: right;
}

.txt-site.txt-capital {
  text-transform: capitalize;
}

.txt-site.txt-top {
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.txt-site.txt-middle {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: "FontFirst";
  src: url(/fonts/Montserrat-Regular.ttf?9c46095118380d38f12e67c916b427f9);
}

@font-face {
  font-family: "FontFirstBold";
  src: url(/fonts/Montserrat-Bold.ttf?88932dadc42e1bba93b21a76de60ef7a);
}

@font-face {
  font-family: "FontFirstExtraBold";
  src: url(/fonts/Montserrat-ExtraBold.ttf?9bc77c3bca968c7490de95d1532d0e87);
}

@font-face {
  font-family: "FontFirst2";
  src: url(/fonts/OpenSans-Regular.ttf?d7d5d4588a9f50c99264bc12e4892a7c);
}

@font-face {
  font-family: "FontFirst2Bold";
  src: url(/fonts/OpenSans-Bold.ttf?f5331cb6372b6c0d8baf2dd7e200498c);
}

@font-face {
  font-family: "FontFirst3";
  src: url(/fonts/Raleway-Regular.ttf?580d0778ad254335be45bf58bb449f43);
}

@font-face {
  font-family: "FontFirst3Bold";
  src: url(/fonts/Raleway-Bold.ttf?575e4317521b381ac94c0c8207c81979);
}

.grid {
  position: relative;
  width: 100%;
}

.grid.grid-5x {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid.grid-4x {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
}

.grid.grid-3x {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
}

.grid.grid-2x {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
}

.grid.gap-5px {
  grid-gap: 5px;
  -ms-grid-gap: 5px;
}

.grid.gap-10px {
  grid-gap: 10px;
  -ms-grid-gap: 10px;
}

.grid.gap-15px {
  grid-gap: 15px;
  -ms-grid-gap: 15px;
}

.grid.gap-20px {
  grid-gap: 20px;
  -ms-grid-gap: 20px;
}

.grid .column-1 {
  position: relative;
  width: 100%;
  grid-column: 1;
  -ms-grid-column: 1;
}

.grid .column-2 {
  position: relative;
  width: 100%;
  grid-column: 2;
  -ms-grid-column: 2;
}

.grid .column-3 {
  position: relative;
  width: 100%;
  grid-column: 3;
  -ms-grid-column: 3;
}

.grid .column-4 {
  position: relative;
  width: 100%;
  grid-column: 4;
  -ms-grid-column: 4;
}

.grid .column-5 {
  position: relative;
  width: 100%;
  grid-column: 5;
  -ms-grid-column: 5;
}

.grid .content-left {
  text-align: left;
}

.grid .content-center {
  text-align: center;
}

.grid .content-right {
  text-align: right;
}

/*button normal*/

.btn {
  position: relative;
  padding: 12.5px 14px;
  border-radius: 7.5px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  /*&:focus {
  	box-shadow: 0 0 0 4px $pos-color;
  }*/
}

.btn.btn-all {
  width: 100%;
}

.btn.btn-cursor-default {
  cursor: default;
}

.btn.btn-focus:focus {
  background-color: rgba(225, 225, 225, 0.54);
}

.btn.btn-no-focus:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.btn.btn-no-pad {
  padding: 0 0;
}

.btn.btn-upp {
  text-transform: uppercase;
}

.btn.btn-radius {
  border-radius: 45px;
}

.btn.btn-div {
  padding: 10px 15px;
  height: 45px;
  line-height: 45px;
}

.btn.btn-circle {
  width: 45px;
  height: 45px;
  padding: 0 0;
  border-radius: 100%;
  text-align: center;
}

.btn.btn-main-color {
  background-color: #bd081c;
  color: #fff;
}

.btn.btn-main2-color {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.54);
}

.btn.btn-main2-color:hover {
  transition: 0.3s;
  background-color: rgba(225, 225, 225, 0.54);
  color: rgba(0, 0, 0, 0.84);
}

.btn.btn-main3-color {
  background-color: #529ecc;
  color: #fff;
}

.btn.btn-main4-color {
  background-color: #fff;
  color: #bd081c;
}

.btn.btn-main5-color {
  background-color: rgba(0, 0, 0, 0);
  color: #529ecc;
}

.btn.btn-sekunder-color {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.54);
  border: 1px rgba(0, 0, 0, 0.1) solid;
}

.btn.btn-sekunder-color:hover {
  transition: 0.3s;
  color: rgba(0, 0, 0, 0.84);
  border: 1px rgba(0, 0, 0, 0.54) solid;
}

.btn.btn-sekunder-color.btn-no-border {
  border: 0 #fff solid;
}

.btn.btn-black-color {
  background-color: rgba(0, 0, 0, 0.54);
  color: #fff;
}

.btn.btn-black-color:hover {
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.84);
}

.btn.btn-grey-color {
  background-color: rgba(0, 0, 0, 0.54);
  color: #fff;
}

.btn.btn-grey2-color {
  background-color: rgba(225, 225, 225, 0.34);
  color: rgba(0, 0, 0, 0.54);
}

.btn.btn-grey2-color:hover {
  transition: 0.3s;
  background-color: rgba(225, 225, 225, 0.54);
  color: rgba(0, 0, 0, 0.84);
}

.btn.btn-grey3-color {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.54);
}

.btn.btn-grey3-color:hover {
  transition: 0.3s;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.84);
}

.btn.btn-grey4-color {
  background-color: rgba(225, 225, 225, 0);
  color: rgba(0, 0, 0, 0.54);
}

.btn.btn-grey4-color:hover {
  transition: 0.3s;
  background-color: rgba(225, 225, 225, 0.54);
  color: rgba(0, 0, 0, 0.84);
}

.btn.btn-primary-color {
  background-color: rgba(225, 225, 225, 0);
  color: rgba(0, 0, 0, 0.54);
}

.btn.btn-primary-color:hover {
  transition: 0.3s;
  background-color: rgba(225, 225, 225, 0.54);
  color: rgba(0, 0, 0, 0.84);
}

.btn.btn-no-color {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.54);
}

.btn.btn-color-fb {
  background-color: #44749d;
  color: #fff;
}

.btn.btn-color-gg {
  background-color: #9a0000;
  color: #fff;
}

.btn.btn-color-gg-2 {
  background-color: #fff;
  color: #9a0000;
  border: 1px #9a0000 solid;
}

.btn.btn-color-gg-3 {
  background-color: #fff;
  color: #9a0000;
}

.btn.btn-color-tw {
  background-color: #60d3f5;
  color: #fff;
}

.btn.btn-text-left {
  text-align: left;
}

.btn.btn-no-pad {
  padding: 15px 0;
}

.btn.btn-font-big {
  font-size: 18px;
}

[contenteditable=true]:empty:not(:focus):before {
  content: attr(placeholder);
  display: block;
  color: rgba(0, 0, 0, 0.34);
}

.txt {
  width: calc(100% - 30px);
  height: 45px;
  font-size: 14px;
  font-weight: 900;
  padding: 0 15px;
  border-radius: 7.5px;
  z-index: 1;
}

.txt.txt-no-shadow {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.txt.txt-shadow {
  box-shadow: 0 0 0 4px #529ecc;
}

.txt.txt-radius {
  border-radius: 40px;
}

.txt.txt-main-color {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.84);
}

.txt.txt-primary-color {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.84);
}

.txt.txt-box-shadow {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.txt.txt-sekunder-color {
  height: 43px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.84);
  border: 1px rgba(0, 0, 0, 0.1) solid;
}

.txt.txt-sekunder-color:focus {
  border: 1px rgba(0, 0, 0, 0.84) solid;
}

.txt.txt-unbox {
  box-shadow: 0 0 0 #fff;
}

.txt.txt-small {
  width: 100%;
  padding: 0;
}

.txt.edit-text {
  min-width: calc(100% - 30px);
  max-width: calc(100% - 30px);
  height: auto;
  min-height: 80px;
  max-height: 80px;
  overflow-y: auto;
  padding: 15px;
  border-radius: 3px;
  resize: none;
}

.txt.edit-text img {
  width: 100%;
}

.slc {
  width: calc(100%);
  height: 40px;
  font-size: 14px;
  font-weight: 900;
  border-radius: 3px;
}

.slc * {
  color: rgba(0, 0, 0, 0.54);
}

.slc option {
  width: calc(100% - 30px);
  padding: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.slc.slc-sekunder-color {
  height: 38px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.54);
  border: 1px rgba(0, 0, 0, 0.1) solid;
}

.image {
  position: relative;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f0f0f0;
}

.image.no-bg-color {
  background-color: rgba(0, 0, 0, 0);
}

.image.image-20px {
  width: 20px;
  height: 20px;
}

.image.image-25px {
  width: 25px;
  height: 25px;
}

.image.image-30px {
  width: 30px;
  height: 30px;
}

.image.image-35px {
  width: 35px;
  height: 35px;
}

.image.image-40px {
  width: 40px;
  height: 40px;
}

.image.image-45px {
  width: 45px;
  height: 45px;
}

.image.image-50px {
  width: 50px;
  height: 50px;
}

.image.image-60px {
  width: 60px;
  height: 60px;
}

.image.image-70px {
  width: 70px;
  height: 70px;
}

.image.image-80px {
  width: 80px;
  height: 80px;
}

.image.image-90px {
  width: 90px;
  height: 90px;
}

.image.image-100px {
  width: 100px;
  height: 100px;
}

.image.image-110px {
  width: 110px;
  height: 110px;
}

.image.image-120px {
  width: 120px;
  height: 120px;
}

.image.image-130px {
  width: 130px;
  height: 130px;
}

.image.image-140px {
  width: 140px;
  height: 140px;
}

.image.image-150px {
  width: 150px;
  height: 150px;
}

.image.image-160px {
  width: 160px;
  height: 160px;
}

.image.image-170px {
  width: 170px;
  height: 170px;
}

.image.image-180px {
  width: 180px;
  height: 180px;
}

.image.image-190px {
  width: 190px;
  height: 190px;
}

.image.image-200px {
  width: 200px;
  height: 200px;
}

.image.image-250px {
  width: 250px;
  height: 250px;
}

.image.image-all {
  width: 100%;
  height: 100%;
}

.image.image-full {
  width: 100%;
  padding-bottom: 100%;
}

.image.image-middle {
  width: 100%;
  padding-bottom: 50%;
}

.image.image-radius {
  border-radius: 7.5px;
}

.image.image-circle {
  border-radius: 100%;
}

.image.image-pointer {
  cursor: pointer;
}

.image.image-more:hover .ttl {
  color: rgba(0, 0, 0, 0.84);
}

.image .ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  font-weight: 600;
}

.image .icn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.54);
}

.image .icn .icn-big {
  font-size: 34px;
}

.card-rate {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row;
}

.card-rate .cr-frame {
  position: relative;
  width: 100%;
  text-align: center;
}

.card-rate .cr-frame.cr-val .cr-sek-line {
  background-color: #529ecc;
}

.card-rate .cr-frame.cr-val .cr-icn {
  border: 2.5px #529ecc solid;
  background-color: #529ecc;
  color: #fff;
}

.card-rate .cr-frame.cr-val .cr-icn .cr-ttl {
  background-color: #fff;
  color: #529ecc;
}

.card-rate .cr-frame.cr-emp .cr-sek-line {
  background-color: #f3f3f3;
}

.card-rate .cr-frame.cr-emp .cr-icn {
  border: 2.5px #f3f3f3 solid;
  background-color: #f3f3f3;
  color: #fff;
}

.card-rate .cr-frame.cr-emp .cr-icn .cr-ttl {
  background-color: rgba(0, 0, 0, 0.34);
  color: #f3f3f3;
}

.card-rate .cr-frame:hover {
  transition: all 0.25s ease;
  cursor: pointer;
}

.card-rate .cr-frame:hover .cr-sek-line {
  transition: all 0.25s ease;
}

.card-rate .cr-frame:hover .cr-icn {
  transition: all 0.25s ease;
  border: 2.5px #529ecc solid;
  background-color: #529ecc;
  color: #fff;
}

.card-rate .cr-frame:hover .cr-icn .cr-ttl {
  transition: all 0.25s ease;
  background-color: #fff;
  color: #529ecc;
}

.card-rate .cr-frame .cr-sek-line {
  position: absolute;
  top: 18.5px;
  left: 0;
  width: 100%;
  height: 8px;
}

.card-rate .cr-frame .cr-sek-line.left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.card-rate .cr-frame .cr-sek-line.right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card-rate .cr-icn {
  position: relative;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.card-rate .cr-icn .cr-ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 20px;
  line-height: 20px;
  font-size: 11pt;
  font-weight: 600;
  z-index: 1;
}

/*frame post*/

.frame-post-list {
  position: relative;
  width: calc(100% - 15px);
  padding: 10px 7.5px;
  display: inline-block;
  border-radius: 15px;
}

.frame-post-list:hover {
  background-color: rgba(225, 225, 225, 0.54);
}

.frame-post {
  position: relative;
  width: calc(100% - 15px);
  padding: 10px 7.5px;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 15px;
}

@media (max-width: 800px) {
  .frame-post {
    width: calc(100% - 15px);
    margin: 0 0;
  }
}

.frame-post:hover {
  background-color: rgba(225, 225, 225, 0.34);
  transition: all 0.25s ease;
}

.frame-post:hover .bot-tool.abs {
  transition: all 0.25s ease;
  opacity: 1;
}

@media (max-width: 800px) {
  .frame-post:hover .bot-tool.abs {
    opacity: 0;
  }
}

.frame-post:hover .oth-tool.abs {
  transition: all 0.25s ease;
  opacity: 1;
}

@media (max-width: 800px) {
  .frame-post:hover .oth-tool.abs {
    opacity: 0;
  }
}

.frame-post.fp-tumbler {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 60px 1fr;
  -ms-grid-columns: 60px 1fr;
  grid-gap: 20px;
  -ms-grid-gap: 20px;
}

.frame-post.fp-tumbler .fpt-col-1 {
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-post.fp-tumbler .fpt-col-2 {
  grid-column: 2;
  -ms-grid-column: 2;
}

.frame-post .grid {
  position: relative;
  width: 100%;
}

.frame-post .grid.grid-3x {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 45px 1fr 45px;
  -ms-grid-columns: 45px 1fr 45px;
}

.frame-post .grid.grid-2x {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 95px;
  -ms-grid-columns: 1fr 95px;
}

.frame-post .grid .grid-1 {
  position: relative;
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-post .grid .grid-2 {
  position: relative;
  grid-column: 2;
  -ms-grid-column: 2;
}

.frame-post .grid .grid-3 {
  position: relative;
  grid-column: 3;
  -ms-grid-column: 3;
}

.frame-post .grid .right {
  text-align: right;
}

.frame-post .mid .top-tool {
  position: relative;
  width: 100%;
}

.frame-post .mid .top-tool.tt-grid-3x {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 45px 1fr 35px;
  -ms-grid-columns: 45px 1fr 35px;
}

.frame-post .mid .top-tool.tt-grid-2x {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
}

.frame-post .mid .top-tool .tt-col-1 {
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-post .mid .top-tool .tt-col-2 {
  grid-column: 2;
  -ms-grid-column: 2;
}

.frame-post .mid .top-tool .tt-col-3 {
  grid-column: 3;
  -ms-grid-column: 3;
}

.frame-post .mid .top-tool .tt-info {
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  line-height: 1.2;
}

.frame-post .mid .top-tool .icn-circle {
  width: 35px;
  height: 35px;
}

.frame-post .mid .mid-tool {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 2.5px;
  max-height: 400px;
}

.frame-post .mid .mid-tool:hover .zoom {
  display: block;
}

.frame-post .mid .mid-tool.no-max-height {
  max-height: none;
}

.frame-post .mid .mid-tool .cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.frame-post .mid .mid-tool .place-pict {
  position: relative;
  width: 100%;
  background-color: #f0f0f0;
}

.frame-post .mid .mid-tool .place-pict img {
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 7.5px;
  color: rgba(0, 0, 0, 0.54);
}

.frame-post .desc {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.54);
}

.frame-post .desc a {
  color: rgba(0, 0, 0, 0.54);
}

.frame-post .desc a:hover {
  color: #bd081c;
}

.frame-post .oth-tool {
  position: relative;
  width: 100%;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
}

.frame-post .oth-tool .ot-col-1 {
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-post .oth-tool .ot-col-2 {
  grid-column: 2;
  -ms-grid-column: 2;
  text-align: right;
}

.frame-post .oth-tool.abs {
  position: absolute;
  bottom: 5px;
  width: calc(100% - 10px);
  padding: 0 5px;
  opacity: 0;
}

.frame-post .oth-tool .icn-circle {
  z-index: 2;
  width: 30px;
  height: 30px;
  line-height: 0;
  font-size: 11pt;
}

.frame-post .oth-tool .btn-icn {
  width: 40px;
  height: 40px;
  line-height: 0;
  margin-left: -4px;
}

.frame-post .oth-tool .btn-icn .icn {
  font-size: 12pt;
}

.frame-post .bot-tool {
  position: relative;
  width: 100%;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 45px;
  -ms-grid-columns: 1fr 45px;
}

.frame-post .bot-tool.abs {
  position: absolute;
  top: 5px;
  left: 0;
  width: calc(100% - 10px);
  padding: 0 5px;
  opacity: 0;
}

.frame-post .bot-tool .nts {
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-post .bot-tool .nts .icn {
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
}

.frame-post .bot-tool .bok {
  grid-column: 2;
  -ms-grid-column: 2;
  text-align: right;
}

.frame-post .bot-tool .btn {
  z-index: 2;
}

.frame-guess {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 200;
}

@media (max-width: 800px) {
  .frame-guess {
    height: 100%;
    overflow-y: auto;
  }
}

.frame-guess .grid-2x {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
}

@media (max-width: 800px) {
  .frame-guess .grid-2x {
    display: block;
  }
}

.frame-guess .grid-2x .grid-1 {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: #bd081c;
  grid-column: 1;
  -ms-grid-column: 1;
}

@media (max-width: 800px) {
  .frame-guess .grid-2x .grid-1 {
    height: 500px;
  }
}

.frame-guess .grid-2x .grid-2 {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  grid-column: 2;
  -ms-grid-column: 2;
}

@media (max-width: 800px) {
  .frame-guess .grid-2x .grid-2 {
    height: 500px;
  }
}

.frame-guess .bottom {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  cursor: default;
}

@media (max-width: 800px) {
  .frame-guess .bottom {
    height: auto;
  }
}

.frame-guess .bottom ul li {
  position: relative;
  list-style: none;
  display: inline-block;
}

.frame-guess .bottom ul li a {
  display: block;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 600;
}

.frame-guess .bottom ul li a:hover {
  color: rgba(0, 0, 0, 0.84);
  background-color: #f0f0f0;
}

.frame-guess .detail {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
}

@media (max-width: 800px) {
  .frame-guess .detail {
    width: calc(100% - 30px);
    padding: 0 15px;
  }
}

.frame-guess .detail ul li {
  position: relative;
  list-style: none;
  margin: 20px 0;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 60px 1fr;
  -ms-grid-columns: 60px 1fr;
}

.frame-guess .detail ul li .icn {
  width: 40px;
  line-height: 25px;
  color: #fff;
  text-align: center;
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-guess .detail ul li .ttl {
  grid-column: 2;
  -ms-grid-column: 2;
  line-height: 25px;
}

.frame-guess .sign {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.frame-guess .sign .image {
  position: relative;
  margin: auto;
  width: 300px;
  height: 130px;
}

.frame-info {
  position: relative;
  width: calc(300px - 60px);
  padding: 0 30px;
  display: inline-block;
  vertical-align: top;
}

.frame-info.width-all {
  width: 100%;
  padding: 0 0;
}

.frame-info .pos {
  position: relative;
  padding: 30px 0;
}

.frame-info .pos .icn {
  position: relative;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border: 2px rgba(0, 0, 0, 0.54) solid;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 100%;
}

.frame-info .btn {
  position: relative;
  width: 100%;
}

.frame-info .mrg-bottom {
  margin-bottom: 20px;
}

.frame-info .mid {
  padding-bottom: 30px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.54);
}

.frame-empty {
  position: relative;
  width: 100%;
  padding: 100px 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}

.frame-empty.no-pad {
  padding: 0 0;
}

.frame-empty .icn {
  width: 120px;
  height: 120px;
  line-height: 120px;
  font-size: 48pt;
  border-radius: 100%;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.54);
}

.frame-empty .ttl {
  font-size: 32px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
}

.frame-other {
  position: relative;
  background-color: #fff;
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
}

.frame-other .ttl {
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.5;
}

.frame-other p {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  line-height: 1.5;
}

.frame-other .create {
  width: 100%;
}

.frame-follow {
  position: relative;
  width: calc(100%);
  height: 35px;
  padding: 10px 0;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 45px 1fr 80px;
  -ms-grid-columns: 45px 1fr 80px;
}

.frame-follow .ff-top {
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-follow .ff-mid {
  position: relative;
  grid-column: 2;
  -ms-grid-column: 2;
}

.frame-follow .ff-mid .fl-ttl {
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 14px;
  font-weight: 600;
}

.frame-follow .ff-mid .fl-ttl a {
  color: rgba(0, 0, 0, 0.54);
}

.frame-follow .ff-mid .fl-ttl a:hover {
  color: #bd081c;
}

.frame-follow .ff-bot {
  grid-column: 3;
  -ms-grid-column: 3;
}

.frame-follow .ff-bot .btn {
  width: 100%;
  height: 35px;
  font-size: 12px;
  padding: 0 0;
}

.frame-trending {
  position: relative;
  width: calc(100%);
  padding: 5px 0;
}

.frame-trending .ttl-head {
  position: relative;
  width: 100%;
}

.frame-trending .ttl-head a {
  font-size: 14px;
  font-weight: 600;
  color: #bd081c;
}

.frame-trending .ttl-head a:hover {
  text-decoration: underline;
}

.frame-trending .ttl-ctn {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.frame-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.54);
  z-index: 300;
  display: none;
}

.frame-progress .place-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 300px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.frame-progress .place-progress .title {
  line-height: 1.5;
}

.frame-progress .place-progress .title {
  line-height: 1.5;
}

.frame-more-menu {
  position: relative;
  width: calc(100% - 30px);
  padding: 5px 15px;
  text-align: center;
  display: inline-block;
  color: rgba(0, 0, 0, 0.84);
}

.frame-more-menu .fm-side .icn {
  font-size: 12px;
  margin: auto;
}

.frame-more-menu .fm-main .ttl {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 0;
  color: rgba(0, 0, 0, 0.54);
}

.frame-notif {
  position: relative;
  padding: 15px;
  border-radius: 5px;
}

.frame-notif:hover {
  background-color: rgba(225, 225, 225, 0.34);
  transition: all 0.25s ease;
}

.frame-notif.grid {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 60px 1fr;
  -ms-grid-columns: 60px 1fr;
}

.frame-notif.grid .notif-sid {
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-notif.grid .notif-mid {
  grid-column: 2;
  -ms-grid-column: 2;
}

.frame-notif.grid-3x {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 60px 1fr 60px;
  -ms-grid-columns: 60px 1fr 60px;
}

.frame-notif.grid-3x .notif-sid {
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-notif.grid-3x .notif-mid {
  grid-column: 2;
  -ms-grid-column: 2;
}

.frame-notif.grid-3x .notif-rig {
  grid-column: 3;
  -ms-grid-column: 3;
  text-align: right;
}

.frame-notif a {
  color: rgba(0, 0, 0, 0.84);
}

.frame-notif a:hover {
  color: #bd081c;
}

.frame-notif .notif-mid {
  line-height: 1.5;
}

.frame-notif .notif-mid .desc {
  font-size: 14pt;
  color: rgba(0, 0, 0, 0.84);
}

.frame-notif .notif-mid .date {
  font-size: 10pt;
  color: rgba(0, 0, 0, 0.54);
}

.private-story {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.frame-story {
  position: relative;
  width: 900px;
  padding: 20px 40px 40px 40px;
  background-color: #fff;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  /*.fs-top {
  	//margin-bottom: 20px;
  }*/
}

@media (max-width: 800px) {
  .frame-story {
    width: calc(100% - 30px);
    padding: 10px 15px;
    margin: 0 0;
  }
}

.frame-story .fs-mid {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 400px;
  -ms-grid-columns: 1fr 400px;
}

@media (max-width: 800px) {
  .frame-story .fs-mid {
    display: block;
  }
}

.frame-story .fs-mid .fs-col-1 {
  grid-column: 1;
  -ms-grid-column: 1;
  margin-top: 20px;
}

.frame-story .fs-mid .fs-col-2 {
  grid-column: 2;
  -ms-grid-column: 2;
  width: calc(100% - 40px);
  padding-left: 40px;
}

@media (max-width: 800px) {
  .frame-story .fs-mid .fs-col-2 {
    width: calc(100%);
    padding-left: 0;
  }
}

.frame-story .fs-mid .fs-place-pict {
  position: relative;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 15px;
  overflow: hidden;
}

.frame-story .fs-mid .fs-place-pict .fs-pict {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.frame-story .fs-mid .fs-block {
  margin: 20px 0;
}

.frame-story .fs-mid .fs-block.no-margin-top {
  margin-top: 0;
}

.frame-story .fs-mid .fs-profile {
  position: relative;
  width: calc(100% - 10px);
  padding: 10px 5px;
  margin: 5px 0;
  border-radius: 7.5px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 25px 1fr;
  -ms-grid-columns: 25px 1fr;
  grid-gap: 10px;
  -ms-grid-gap: 10px;
}

.frame-story .fs-mid .fs-profile:hover {
  transition: all 0.25s ease;
  background-color: rgba(225, 225, 225, 0.34);
}

.frame-story .fs-mid .fs-profile .fsp-col-1 {
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-story .fs-mid .fs-profile .fsp-col-2 {
  grid-column: 2;
  -ms-grid-column: 2;
}

.frame-story .fs-mid .fs-profile .fsp-col-3 {
  text-align: right;
}

.frame-story .fs-mid .fs-profile .fs-del {
  position: relative;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  font-size: 10pt;
  border-radius: 100%;
  cursor: pointer;
}

.frame-story .fs-mid .fs-profile .fs-del:hover {
  transition: all 0.25s ease;
  background-color: rgba(225, 225, 225, 0.34);
}

.frame-story .fs-mid .fs-block-canvas {
  position: relative;
  width: 100%;
  height: 45px;
}

.frame-story .fs-mid .fs-block-canvas .fs-canvas-direction {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
}

.frame-story .fs-mid .fs-block-canvas .fs-canvas-direction .fs-canvas {
  position: relative;
  width: 35px;
}

.frame-story .fs-mid .fs-block-canvas .fs-canvas-direction .fs-canvas .fs-canvas-image {
  position: relative;
  width: 44px;
  border: 3px #fff solid;
  border-radius: 100%;
  overflow: hidden;
}

.story-popup {
  position: relative;
  width: 100%;
  background-color: #f5f5f5;
}

.story-popup.normal {
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  height: calc(100vh - 65px);
  background-color: #f5f5f5;
  overflow-y: auto;
}

@media (max-width: 800px) {
  .story-popup.normal {
    background-color: #fff;
    top: 0;
    height: 100vh;
    z-index: 200;
  }
}

.story-popup.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: #f5f5f5;
  overflow-y: auto;
}

@media (max-width: 800px) {
  .story-popup.popup {
    background-color: #fff;
  }
}

.story-popup.popup .place-story {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .story-popup.popup .place-story {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.story-popup .place-story {
  position: relative;
  margin: auto;
  padding: 20px 0;
  background-color: #fff;
  width: 800px;
  overflow: hidden;
  border-radius: 15px;
}

@media (max-width: 800px) {
  .story-popup .place-story {
    width: 100%;
    border-radius: 0;
    padding: 5px 0;
  }
}

.frame-profile {
  position: relative;
  padding: 15px 0;
}

.frame-profile .profile {
  position: relative;
  margin-bottom: 15px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 130px;
  -ms-grid-columns: 1fr 130px;
}

.frame-profile .profile .foto {
  grid-column: 2;
  -ms-grid-column: 2;
}

.frame-profile .profile .info {
  position: relative;
  color: rgba(0, 0, 0, 0.54);
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-profile .profile .info .user-name {
  color: rgba(0, 0, 0, 0.54);
}

.frame-edit {
  position: relative;
  width: 100%;
}

.frame-edit .grid-2x {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 270px 1fr;
  -ms-grid-columns: 270px 1fr;
}

@media (max-width: 800px) {
  .frame-edit .grid-2x {
    display: block;
  }
}

.frame-edit .grid-2x .grid-1 {
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-edit .grid-2x .grid-2 {
  grid-column: 2;
  -ms-grid-column: 2;
}

.frame-edit .create-head {
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}

.frame-edit .fixed {
  position: fixed;
  top: 80px;
  width: 250px;
}

.frame-edit .edit-body {
  position: relative;
  width: 100%;
  background-color: #fff;
}

.frame-edit .edit-body .edit-block {
  position: relative;
  width: 100%;
}

.frame-edit .edit-body .edit-block .edit-block-sub-title {
  padding: 15px 0;
  font-size: 10pt;
  color: rgba(0, 0, 0, 0.54);
}

.frame-edit .edit-body .edit-block ul a {
  color: rgba(0, 0, 0, 0.54);
}

.frame-edit .edit-body .edit-block ul li {
  position: relative;
  list-style: none;
  width: calc(100% - 50px);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 50px;
  -ms-grid-columns: 1fr 50px;
}

@media (max-width: 800px) {
  .frame-edit .edit-body .edit-block ul li {
    width: calc(100% - 30px);
  }
}

.frame-edit .edit-body .edit-block ul li:hover {
  background-color: rgba(225, 225, 225, 0.54);
  color: rgba(0, 0, 0, 0.84);
}

.frame-edit .edit-body .edit-block ul li.active {
  background-color: rgba(225, 225, 225, 0.54);
  color: rgba(0, 0, 0, 0.84);
}

.frame-edit .edit-body .edit-block ul li .ed-1 {
  grid-column: 1;
  -ms-grid-column: 1;
  font-size: 11pt;
  font-weight: 600;
  font-family: "FontFirstBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.frame-edit .edit-body .edit-block ul li .ed-2 {
  grid-column: 2;
  -ms-grid-column: 2;
  float: right;
}

.frame-edit .edit-body .edit-block .place-edit {
  position: relative;
  width: 100%;
  padding-top: 25px;
  color: rgba(0, 0, 0, 0.54);
}

.frame-edit .edit-body .edit-block .place-edit .pe-1 {
  font-size: 15px;
  padding-bottom: 10px;
}

.frame-edit .edit-body .edit-block .place-edit .pe-btn {
  text-align: right;
}

.frame-edit .edit-body .edit-block .place-edit .pe-btn .btn {
  margin-left: 15px;
  margin-bottom: 15px;
}

.frame-edit .edit-body .edit-block .place-edit .edit-text {
  width: calc(100% - 30px);
  min-width: calc(100% - 30px);
  max-width: calc(100% - 30px);
  height: 80px;
  min-height: 80px;
  max-height: 80px;
}

.frame-edit .edit-body .edit-block .change {
  position: relative;
  width: 100%;
}

.frame-edit .edit-body .edit-block .change .foto {
  position: relative;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.frame-edit .edit-body .edit-block .change #change-picture {
  display: none;
}

.frame-edit .edit-body .edit-block .change #btn-save-foto {
  width: 150px;
  padding: 0 5px;
  display: inline-block;
  vertical-align: middle;
}

.frame-top-tag {
  position: relative;
  padding: 7.5px 14px;
  margin: 2.5px;
  display: inline-block;
  background-color: #f3f3f3;
  color: rgba(0, 0, 0, 0.54);
  font-size: 10pt;
  font-weight: 600;
  border-radius: 45px;
}

.frame-top-tag:hover {
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0.84);
}

.frame-paper {
  position: relative;
  width: calc((100% / 3) - 30px);
  padding: 10px 7.5px;
  margin: 0 7.5px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  display: inline-block;
}

@media (max-width: 800px) {
  .frame-paper {
    width: calc(100% - 15px);
    margin: 0 0;
  }
}

.frame-paper:hover {
  background-color: rgba(225, 225, 225, 0.34);
  transition: all 0.25s ease;
}

.frame-paper .top {
  position: relative;
  width: 100%;
}

.frame-paper .mid {
  position: relative;
  width: 100%;
}

.frame-paper .bot {
  position: relative;
  width: 100%;
  height: 50px;
}

.frame-paper .bot .image {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.frame-paper .bg-image {
  position: relative;
  float: left;
  width: 100%;
  height: 300px;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f0f0f0;
}

.frame-paper .pl-image-big {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
  overflow: hidden;
  border-radius: 15px;
}

.frame-paper .pl-image-big .image-main {
  position: relative;
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-paper .pl-image-big .image-main .bg-image {
  height: 300px;
}

.frame-paper .pl-image-big .image-sekunder {
  position: relative;
  grid-column: 2;
  -ms-grid-column: 2;
}

.frame-paper .pl-image-big .image-sekunder .bg-image {
  height: 150px;
}

.frame-paper .pl-image {
  column-count: 3;
  column-gap: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0;
  -moz-column-count: 3;
  -moz-column-gap: 0;
  -ms-column-count: 3;
  -ms-column-gap: 0;
  overflow: hidden;
  border-radius: 15px;
}

.frame-paper .pl-icn {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0.54);
}

.frame-paper .pl-icn .mn-icn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 34px;
}

.frame-paper-small {
  position: relative;
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 40px 1fr 45px;
  -ms-grid-columns: 40px 1fr 45px;
  grid-gap: 10px;
  -ms-grid-gap: 10px;
}

.frame-paper-small .fps-top {
  position: relative;
  width: 40px;
  border-radius: 5px;
  overflow: hidden;
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-paper-small .fps-mid {
  position: relative;
  width: 100%;
  grid-column: 2;
  -ms-grid-column: 2;
}

.frame-paper-small .fps-mid .fps-info {
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.frame-paper-small .fps-rig {
  position: relative;
  text-align: right;
  grid-column: 3;
  -ms-grid-column: 3;
}

.frame-paper-small .fps-rig .btn {
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 35px;
  height: 35px;
  font-size: 10pt;
}

.frame-paper-small .bg-image {
  position: relative;
  float: left;
  width: 100%;
  height: 40px;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f0f0f0;
}

.frame-paper-small .pl-image-big {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
  overflow: hidden;
  border-radius: 7.5px;
}

.frame-paper-small .pl-image-big .image-main {
  position: relative;
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-paper-small .pl-image-big .image-main .bg-image {
  height: 40px;
}

.frame-paper-small .pl-image-big .image-sekunder {
  position: relative;
  grid-column: 2;
  -ms-grid-column: 2;
}

.frame-paper-small .pl-image-big .image-sekunder .bg-image {
  height: 20px;
}

.frame-paper-small .pl-image {
  column-count: 3;
  column-gap: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0;
  -moz-column-count: 3;
  -moz-column-gap: 0;
  -ms-column-count: 3;
  -ms-column-gap: 0;
  overflow: hidden;
  border-radius: 5px;
}

.frame-paper-small .pl-icn {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0.54);
}

.frame-paper-small .pl-icn .mn-icn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 34px;
}

.frame-paper-small .pl-icn .mn-icn.red {
  color: #bd081c;
}

.frame-paper-list {
  position: relative;
  width: calc((100% / 3) - 30px);
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
}

.frame-paper-list:hover {
  background-color: rgba(225, 225, 225, 0.34);
  transition: all 0.25s ease;
}

@media (max-width: 800px) {
  .frame-paper-list {
    width: calc(100% - 20px);
    margin: 5px 0;
  }
}

.frame-paper-list .top {
  position: relative;
  width: 100%;
  height: 120px;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 60px 1fr;
  -ms-grid-columns: 60px 1fr;
}

.frame-paper-list .top:hover {
  box-shadow: 0 0 20px rgba(225, 225, 225, 0.84);
  transition: all 0.25s ease;
}

.frame-paper-list .top .lef {
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-paper-list .top .lef .ph {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  z-index: 2;
}

.frame-paper-list .top .lef .ph .image {
  width: 115px;
  padding-bottom: 115px;
  border: 2.5px #fff solid;
}

.frame-paper-list .top .rig {
  grid-column: 2;
  -ms-grid-column: 2;
}

.frame-paper-list .top .rig .pl-image {
  position: relative;
  width: 100%;
  height: 120px;
  column-count: 3;
  column-gap: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0;
  -moz-column-count: 3;
  -moz-column-gap: 0;
  -ms-column-count: 3;
  -ms-column-gap: 0;
}

.frame-paper-list .top .rig .pl-image .image {
  display: inline-block;
  vertical-align: top;
}

.frame-paper-list .mid {
  position: relative;
  width: 100%;
  margin-top: 5px;
}

.frame-small-paper {
  position: relative;
  width: calc(100% - 20px);
  min-height: 40px;
  padding: 10px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 55px 1fr 40px;
  -ms-grid-columns: 55px 1fr 40px;
  border-radius: 5px;
}

.frame-small-paper:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.frame-small-paper:hover .grid-3 .chk {
  display: block;
}

.frame-small-paper .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.frame-small-paper .grid-1 {
  position: relative;
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-small-paper .grid-2 {
  position: relative;
  grid-column: 2;
  -ms-grid-column: 2;
}

.frame-small-paper .grid-2 .ttl {
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.frame-small-paper .grid-3 {
  position: relative;
  grid-column: 3;
  -ms-grid-column: 3;
}

.frame-small-paper .grid-3 .chk {
  display: none;
}

.frame-small-paper .grid-3 .chk.selected {
  display: block;
  background-color: rgba(0, 0, 0, 0);
  color: #bd081c;
}

.frame-small-paper .grid-3 .btn {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.frame-more {
  position: relative;
  width: 100%;
  text-align: center;
}

.frame-more .btn {
  width: 150px;
  height: 40px;
  padding: 0 0;
}

.frame-review {
  position: relative;
  width: calc((1000px / 4) - 17px);
  text-align: center;
  margin: 0 5px;
  padding: 2.5px;
  overflow: hidden;
}

@media (max-width: 800px) {
  .frame-review {
    width: calc((100% / 2) - 17px);
    height: calc((100% / 2) - 17px);
  }
}

.frame-review .image {
  border-radius: 7.5px;
  padding-bottom: 100%;
}

.frame-review .desc .bt {
  text-align: right;
}

.frame-review .desc .edit-text {
  min-width: calc(100% - 10px);
  max-width: calc(100% - 10px);
  min-height: 50px;
  max-height: 50px;
  padding: 5px;
}

.frame-review .del {
  position: relative;
  right: 0;
  width: 100%;
  padding: 10px 0;
  text-align: right;
}

.frame-review .del .btn {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
}

.frame-review .load {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.frame-message {
  display: none;
}

.frame-message-bottom {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 20px;
  z-index: 300;
  display: none;
}

.frame-message-bottom .content {
  position: relative;
  width: 400px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.84);
  border-radius: 45px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

@media (max-width: 800px) {
  .frame-message-bottom .content {
    width: calc(100% - 50px);
  }
}

.frame-message-bottom .content .msg {
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.frame-message-bottom .content .btn {
  width: 100%;
}

.frame-message-bottom .grid {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 70px;
  -ms-grid-columns: 1fr 70px;
}

.frame-message-bottom .grid .grid-1 {
  position: relative;
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-message-bottom .grid .grid-2 {
  position: relative;
  grid-column: 2;
  -ms-grid-column: 2;
}

.frame-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.34);
}

.frame-popup.design {
  background-color: #f0f0f0;
  overflow-y: auto;
}

.frame-popup .main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.frame-popup .message {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
}

.frame-popup .message .cen {
  position: relative;
  width: calc(100% - 30px);
  padding: 15px;
}

.frame-popup .message .bot {
  position: relative;
  width: calc(100% - 30px);
  padding: 15px;
  text-align: center;
}

.frame-popup .message .bot .btn {
  margin: auto;
}

.frame-popup .message .bot .btn-popup {
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 800px) {
  .frame-popup .message .bot .btn-popup {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
}

.frame-compose.fc-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  background-color: #f0f0f0;
  overflow-y: auto;
}

@media (max-width: 800px) {
  .frame-compose.fc-fixed {
    background-color: #fff;
  }
}

.frame-compose .fc-place {
  position: relative;
  width: 720px;
  padding: 25px 40px 5px 40px;
  background-color: #fff;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 800px) {
  .frame-compose .fc-place {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    width: calc(100% - 30px);
    padding: 10px 15px 0 15px;
    margin: 0 0;
  }
}

.frame-compose .fc-place.width-small {
  width: 500px;
}

@media (max-width: 800px) {
  .frame-compose .fc-place.width-small {
    width: calc(100% - 40px);
    padding: 20px 20px 0 20px;
  }
}

.frame-compose .fc-place .fc-mid {
  position: relative;
  width: calc(100%);
  padding: 20px 0;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 300px 1fr;
  -ms-grid-columns: 300px 1fr;
}

@media (max-width: 800px) {
  .frame-compose .fc-place .fc-mid {
    width: calc(100%);
    padding: 20px 0;
    display: block;
  }
}

.frame-compose .fc-place .fc-mid.no-grid {
  display: block;
}

.frame-compose .fc-place .fc-mid .fc-col-1 {
  width: calc(100% - 40px);
  grid-column: 1;
  -ms-grid-column: 1;
}

@media (max-width: 800px) {
  .frame-compose .fc-place .fc-mid .fc-col-1 {
    width: 100%;
  }
}

.frame-compose .fc-place .fc-mid .fc-col-2 {
  grid-column: 2;
  -ms-grid-column: 2;
}

.frame-compose .fc-place .fc-mid .fc-add-pict {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  min-height: 425px;
}

@media (max-width: 800px) {
  .frame-compose .fc-place .fc-mid .fc-add-pict {
    min-height: auto;
  }
}

.frame-compose .fc-place .fc-mid .fc-add-pict .fc-picture {
  display: none;
}

.frame-compose .fc-place .fc-mid .fc-add-pict .fc-image {
  width: 100%;
}

@media (max-width: 800px) {
  .frame-compose .fc-place .fc-mid .fc-add-pict .fc-image .image {
    width: 100px;
    padding-bottom: 100px;
  }
}

.frame-compose .fc-place .fc-mid .fc-add-pict .fc-add-pict-place {
  position: relative;
  margin: auto;
  width: calc(100% - 6px);
  height: 420px;
  background-color: #f5f5f5;
  border-radius: 7.5px;
  border: 3px rgba(0, 0, 0, 0.54) dashed;
}

.frame-compose .fc-place .fc-mid .fc-add-pict .fc-add-pict-place:hover {
  background-color: #f0f0f0;
}

@media (max-width: 800px) {
  .frame-compose .fc-place .fc-mid .fc-add-pict .fc-add-pict-place {
    width: 200px;
    height: 200px;
    margin: 0 0;
  }
}

@media (max-width: 800px) {
  .frame-compose .fc-place .fc-mid .fc-choose-canvas.fc-choose-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    height: calc(100vh);
    padding: 20px 15px;
    z-index: 100;
    background-color: #fff;
  }
}

@media (max-width: 800px) {
  .frame-compose .fc-place .fc-mid .fc-choose-canvas.fc-choose-fixed .fccc-mid {
    /*height: calc(100vh - 110px);
    overflow-y: auto;*/
  }
}

@media (max-width: 800px) {
  .frame-compose .fc-place .fc-mid .fc-choose-canvas.fc-choose-fixed .fccc-bot {
    margin-bottom: 20px;
  }
}

.frame-compose .fc-place .fc-mid .fc-choose-canvas .fccc-mid {
  height: 340px;
  overflow-y: auto;
}

@media (max-width: 800px) {
  .frame-compose .fc-place .fc-mid .fc-choose-canvas .fccc-mid {
    height: auto;
    overflow-y: hidden;
  }
}

.frame-compose .fc-place .fc-mid .fc-block {
  margin: 15px 0;
}

.frame-compose .fc-place .fc-mid .fc-block.no-margin-top {
  margin-top: 0;
}

.frame-compose .fc-place .fc-mid .fc-block .fcb-top {
  margin-bottom: 5px;
}

.frame-compose .fc-place .fc-mid .fc-block .fcb-place-button {
  text-align: right;
}

.frame-compose .fc-place .fc-mid .fc-block .fcb-place-button .btn {
  margin-left: 10px;
}

.select {
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.select .main-select {
  position: relative;
  width: calc(100% - 20px);
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 55px 1fr 40px;
  -ms-grid-columns: 55px 1fr 40px;
}

.select .main-select:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.select .main-select:hover .grid-3 .chk {
  display: block;
}

.select .main-select.selected .grid-3 .chk {
  display: block;
  background-color: #bd081c;
  color: #fff;
}

.select .main-select .grid-1 {
  position: relative;
  grid-column: 1;
  -ms-grid-column: 1;
}

.select .main-select .grid-2 {
  position: relative;
  grid-column: 2;
  -ms-grid-column: 2;
}

.select .main-select .grid-2 .ttl {
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.select .main-select .grid-3 {
  position: relative;
  grid-column: 3;
  -ms-grid-column: 3;
}

.select .main-select .grid-3 .chk {
  display: none;
}

.select .main-select .grid-3 .btn {
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.frame-detail {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 60px 1fr;
  -ms-grid-columns: 60px 1fr;
}

.frame-detail .grid-1 {
  grid-column: 1;
  -ms-grid-column: 1;
}

.frame-detail .grid-2 {
  grid-column: 2;
  -ms-grid-column: 2;
  text-align: right;
}

.frame-topic-big {
  position: relative;
  width: calc(100% - 15px);
  padding: 7.5px;
  margin: 10px 0;
  border-radius: 15px;
  overflow: hidden;
}

.frame-topic-big.mn-color {
  background-color: #b74443;
}

.frame-topic-big:hover {
  background-color: rgba(225, 225, 225, 0.34);
  transition: all 0.25s ease;
}

.frame-topic-big .bg-cover {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 15px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.frame-topic-big .bg-cover .bg-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 1;
}

.frame-topic-big .topic-title {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 1;
}

.frame-topic {
  position: relative;
  display: inline-block;
  margin: 5px;
}

.frame-topic .bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 7.5px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.frame-topic .bg-cover .bg-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 1;
}

.frame-topic a {
  position: relative;
  font-weight: 600;
  font-size: 11pt;
  padding: 17.5px 20px;
  display: block;
  border-radius: 7.5px;
  overflow: hidden;
}

.frame-topic.mn-color a {
  color: #fff;
  z-index: 1;
}

.frame-topic.color-1 a {
  background-color: #b74443;
  color: #fff;
}

.frame-topic.color-2 a {
  background-color: #4a9aa1;
  color: #fff;
}

.frame-topic.color-3 a {
  background-color: #74aaa3;
  color: #fff;
}

.frame-topic.color-4 a {
  background-color: #b5c2e1;
  color: #fff;
}

.frame-topic.color-5 a {
  background-color: #24b177;
  color: #fff;
}

.frame-load-circle {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
}

.frame-load-circle.center {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.frame-load-circle.center .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.frame-load-circle .btn {
  position: relative;
  margin: auto;
}

.frame-load-circle .btn .icn {
  line-height: 45px;
}

.frame-user {
  position: relative;
  width: 285px;
  padding: 15px;
  border-radius: 7.5px;
  margin: 5px;
}

.frame-user:hover {
  background-color: rgba(225, 225, 225, 0.54);
}

.frame-user .top {
  padding-top: 15px;
}

.frame-user .top .icn-circle {
  margin: auto;
}

.frame-user .mid {
  position: relative;
  text-align: center;
  font-size: 18pt;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
  padding-top: 15px;
  padding-bottom: 5px;
}

.frame-user .bot {
  position: relative;
  width: 100%;
  padding-bottom: 15px;
}

.frame-user .bot ul {
  text-align: center;
}

.frame-user .bot ul li {
  position: relative;
  list-style: none;
  display: inline-block;
  color: rgba(0, 0, 0, 0.54);
}

.frame-user .bot ul li.icn {
  position: relative;
  top: -5px;
  font-size: 3pt;
}

.place-popup {
  display: none;
}

.place-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  overflow-y: auto;
  background-color: #fff;
}

.paper-cover {
  position: relative;
  width: 100%;
  height: calc(100vh / 2);
  overflow: hidden;
  border-radius: 15px;
}

.paper-cover .pl-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.34);
}

.paper-cover .pl-cover .pl-profile {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.paper-cover .pl-cover .pl-profile .ctn-main-font {
  color: #fff;
}

.paper-cover .bg-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f0f0f0;
  display: inline-block;
  vertical-align: top;
}

.paper-cover .pl-image {
  column-count: 3;
  column-gap: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0;
  -moz-column-count: 3;
  -moz-column-gap: 0;
  -ms-column-count: 3;
  -ms-column-gap: 0;
}

.paper-cover .pl-icn {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  color: #529ecc;
}

/*zoom pict*/

.zoom-pict {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.54);
  z-index: 300;
  overflow-y: auto;
  display: none;
}

.zoom-pict .close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.zoom-pict .zp-main {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: calc(100vh - 20px);
  max-height: calc(100vh - 20px);
  text-align: center;
  cursor: zoom-out;
}

.zoom-pict .zp-main img {
  position: relative;
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
}

.place-info {
  column-count: 4;
  column-gap: 0;
  -webkit-column-count: 4;
  -webkit-column-gap: 0;
  -moz-column-count: 4;
  -moz-column-gap: 0;
  -ms-column-count: 4;
  -ms-column-gap: 0;
}

@media (max-width: 800px) {
  .place-info {
    column-count: 2;
    column-gap: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 0;
    -moz-column-count: 2;
    -moz-column-gap: 0;
    -ms-column-count: 2;
    -ms-column-gap: 0;
  }
}

.more-menu li .icn-mobile {
  width: 90%;
  padding: 0 5%;
  display: block;
  text-align: left;
}

.more-menu .column-2 {
  column-count: 2;
  column-gap: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-count: 2;
  -moz-column-gap: 0;
  -ms-column-count: 2;
  -ms-column-gap: 0;
}

.more-menu .mn li {
  width: calc(100% - 20px);
  padding: 0 10px;
  margin-bottom: 5px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  list-style: none;
}

@media (max-width: 800px) {
  .more-menu .mn li {
    padding: 5px 10px;
  }
}

.more-menu .mn li a {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 600;
}

.more-menu .mn li a:hover {
  color: #bd081c;
}

.notif-icn {
  font-size: 12px;
  color: #529ecc;
  display: none;
}

.notif-icn.absolute {
  position: absolute;
  top: 5px;
  right: 5px;
}

.add-menu {
  position: absolute;
  top: 55px;
  right: 0;
  width: 200px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  z-index: 100;
}

.add-menu ul li {
  position: relative;
  width: calc(100% - 30px);
  padding: 15px;
  list-style: none;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
}

.add-menu ul li:hover {
  color: #bd081c;
}

.add-menu ul li.bdr-bottom {
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}

.add-menu ul li .icn {
  width: 30px;
}

.add-menu ul li .ttl {
  font-size: 14px;
  font-weight: 600;
}

.place-select {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  width: 500px;
  margin: auto;
}

@media (max-width: 800px) {
  .place-select {
    border-radius: 0;
    width: 100%;
  }
}

.place-select.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.place-select .place {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

@media (max-width: 800px) {
  .place-select .place {
    height: calc(100vh - 130px);
    max-height: calc(100vh - 130px);
  }
}

.place-select .sc-header {
  width: calc(100% - 20px);
  padding: 0 10px;
}

.block {
  padding: 12.5px 0 0 0;
  color: rgba(0, 0, 0, 0.84);
}

.block.center {
  text-align: center;
}

.block .logo {
  position: relative;
  width: 500px;
  height: 300px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

.block .ttl {
  text-align: center;
  color: #fff;
}

.block .ctn-up {
  padding: 0 0;
  font-size: 16pt;
  color: #fff;
}

.block .need-mrg-left {
  margin-left: 10px;
}

.place-follow {
  position: relative;
  width: 600px;
  margin: auto;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .place-follow {
    width: calc(100% - 20px);
    padding: 15px 10px;
    border-radius: 0;
  }
}

.padding-bottom {
  text-align: center;
  padding: 5px 0;
  color: rgba(0, 0, 0, 0.54);
  font-size: 10px;
}

#save-popup {
  display: none;
  overflow-y: auto;
}

#save-popup .save {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 800px) {
  #save-popup .save {
    width: calc(100% - 20px);
  }
}

#save-popup .save .pos {
  position: relative;
  widows: calc(100% - 20px);
  padding: 10px;
}

#save-popup .save .top {
  height: 40px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 40px;
  -ms-grid-columns: 1fr 40px;
}

#save-popup .save .top .lef {
  grid-column: 1;
  -ms-grid-column: 1;
}

#save-popup .save .top .lef .ttl {
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

#save-popup .save .top .rig {
  grid-column: 2;
  -ms-grid-column: 2;
}

#save-popup .save .mid {
  position: relative;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

.place-review-image {
  position: relative;
  width: 100%;
  padding: 0 0;
  display: flex;
  flex-wrap: wrap;
}

.place-users {
  position: relative;
  width: 100%;
  padding: 0 0;
  display: flex;
  flex-wrap: wrap;
}

.place-canvas {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 700px;
  z-index: 500;
  display: none;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.34);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media (max-width: 800px) {
  .place-canvas {
    width: 100%;
  }
}

.place-canvas .top {
  position: relative;
  width: calc(100% - 30px);
  margin: 15px;
}

.place-canvas .mid {
  position: relative;
  width: calc(100% - 30px);
  margin: 0 15px;
}

.place-canvas .mid.mid-canvas {
  height: 260px;
  display: block;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

.place-canvas .pc-image {
  position: relative;
  width: 100%;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 95px 1fr;
  -ms-grid-columns: 95px 1fr;
}

@media (max-width: 800px) {
  .place-canvas .pc-image {
    display: block;
  }
}

.place-canvas .pc-image .img {
  grid-column: 1;
  -ms-grid-column: 1;
  margin-bottom: 10px;
}

.place-canvas .pc-image .tx {
  grid-column: 2;
  -ms-grid-column: 2;
  min-width: calc(100% - 30px);
  max-width: calc(100% - 30px);
  min-height: 50px;
  max-height: 50px;
}

@media (max-width: 800px) {
  .place-canvas .pc-image .tx {
    min-width: calc(100% - 30px);
    max-width: calc(100% - 30px);
  }
}

.place-canvas .pc-close {
  position: absolute;
  top: 0;
  right: 0;
}

.frm-sign {
  position: relative;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 450px;
  padding: 30px 0;
  border-radius: 10px;
  background-color: #fff;
}

@media (max-width: 500px) {
  .frm-sign {
    width: 100%;
    margin: auto;
  }
}

.frm-sign .fs-top {
  text-align: center;
  padding: 25px 0;
}

.frm-sign .fs-top h1 {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 600;
}

.frm-sign .fs-top .logo {
  position: relative;
  width: calc(100% - 100px);
  margin: auto;
}

.frm-sign .fs-mid {
  position: relative;
  width: calc(100% - 50px);
  padding: 25px;
}

.frm-sign .fs-block {
  position: relative;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f5f5f5;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 45px 1fr;
  -ms-grid-columns: 45px 1fr;
}

.frm-sign .fs-block .fs-left {
  grid-column: 1;
  -ms-grid-column: 1;
}

.frm-sign .fs-block .fs-left .icn {
  position: relative;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  font-size: 11pt;
}

.frm-sign .fs-block .fs-right {
  grid-column: 2;
  -ms-grid-column: 2;
}

.frm-sign .fs-button {
  text-align: right;
}

.frm-sign .fs-text {
  position: relative;
  width: 100%;
  padding-bottom: 25px;
  text-align: center;
}

.pagination {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  cursor: default;
}

.pagination li {
  list-style: none;
  display: inline-block;
  font-size: 12pt;
  font-weight: 600;
  width: 120px;
  height: 45px;
  line-height: 45px;
  margin: 0 7.5px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 7.5px;
}

.pagination li.active {
  cursor: not-allowed;
}

.pagination a {
  display: block;
  width: 120px;
  height: 45px;
  line-height: 45px;
  margin: 0 7.5px;
  text-align: center;
  background-color: #bd081c;
  color: #fff;
  border-radius: 7.5px;
}

.sc-bottom {
  position: fixed;
  bottom: 15px;
  right: 2.5%;
  z-index: 10;
}

.sc-bottom .sc-content .btn {
  position: relative;
}

.sc-header {
  position: relative;
  top: 0;
  left: 0;
  min-height: 60px;
  width: 100%;
  cursor: default;
}

.sc-header.no-height {
  min-height: auto;
}

.sc-header .sc-place {
  position: relative;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
}

@media (max-width: 800px) {
  .sc-header .sc-place.mobile-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
  }
}

.sc-header .sc-place.no-pad {
  padding: 0 0;
}

.sc-header .sc-place.pad-5px {
  padding: 5px 0;
}

.sc-header .sc-place .sc-grid-3x {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
}

.sc-header .sc-place .sc-grid-2x {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 200px;
  -ms-grid-columns: 1fr 200px;
}

.sc-header .sc-place .sc-grid-2x.col-1-55px {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 55px 1fr;
  -ms-grid-columns: 55px 1fr;
}

.sc-header .sc-place .sc-grid-1x {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr;
  -ms-grid-columns: 1fr;
}

.sc-header .sc-place .sc-grid .sc-col-1 {
  grid-column: 1;
  -ms-grid-column: 1;
}

.sc-header .sc-place .sc-grid .sc-col-2 {
  grid-column: 2;
  -ms-grid-column: 2;
  text-align: center;
}

.sc-header .sc-place .sc-grid .sc-col-3 {
  grid-column: 3;
  -ms-grid-column: 3;
}

.sc-header .sc-place .sc-grid .icn {
  padding: 0 5px;
}

.sc-header .sc-place .sc-grid .txt-left {
  text-align: left;
}

.sc-header .sc-place .sc-grid .txt-center {
  text-align: center;
}

.sc-header .sc-place .sc-grid .txt-center .ttl {
  position: relative;
  margin: auto;
}

.sc-header .sc-place .sc-grid .txt-right {
  text-align: right;
}

.sc-header .sc-place .sc-grid .ttl-head {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.54);
}

.sc-header .sc-place .sc-grid .ttl-head-2 {
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: rgba(0, 0, 0, 0.54);
}

.sc-header .sc-place .sc-block {
  width: 1000px;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
}

@media (max-width: 800px) {
  .sc-header .sc-place .sc-block {
    width: calc(100% - 20px);
  }
}

.sc-header .sc-place.pos-fix {
  position: fixed;
  top: 65px;
  z-index: 10;
  background-color: #fff;
  opacity: 0.9;
}

@media (max-width: 800px) {
  .sc-header .sc-place.pos-fix {
    position: relative;
    top: 0;
  }

  .sc-header .sc-place.pos-fix.mob-fix {
    position: fixed;
    top: 0;
    z-index: 300;
    opacity: 1;
  }
}

.post-nav {
  position: relative;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 3px;
  background-color: #f0f0f0;
  box-shadow: 0 0 0 2px #f0f0f0;
  font-size: 14px;
}

.post-nav.radius {
  border-radius: 35px;
}

.post-nav.width-small {
  width: 250px;
}

.post-nav.width-all {
  width: 100%;
}

.post-nav ol li {
  position: relative;
  list-style: none;
  float: left;
  width: 50%;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
}

.post-nav ol li:hover {
  color: rgba(0, 0, 0, 0.84);
}

.post-nav ol li.active {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.84);
}

.post-nav ol li.choose {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.84);
}

.menu-list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 300px;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  background-color: #fff;
}

.menu-list .ml-list {
  position: relative;
  width: 100%;
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
}

.menu-list .ml-list:hover {
  background-color: #f5f5f5;
}

.menu-list .ml-list.cancel {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
}

.menu-list .ml-list.sekunder {
  font-size: 14px;
  font-weight: 600;
  color: #529ecc;
}

.menu-list .ml-list.danger {
  font-size: 14px;
  font-weight: 600;
  color: #ff0000;
}

.menu-list .ml-list.head {
  height: 65px;
  line-height: 65px;
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.84);
  cursor: default;
}

.menu-list .ml-list.head:hover {
  background-color: #fff;
}

.menu-list .ml-list.head-2 {
  padding-top: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.84);
  cursor: default;
}

.menu-list .ml-list.head-2:hover {
  background-color: #fff;
}

.menu-list .ml-list.msg {
  cursor: default;
  text-align: center;
}

.menu-list .ml-list.msg:hover {
  background-color: #fff;
}

.menu-share {
  overflow: hidden;
  border-radius: 3px;
  cursor: default;
}

.menu-share li {
  list-style: none;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  float: left;
  width: 25%;
}

.menu-share li.mn {
  padding: 10px 0;
  border-radius: 0;
}

.menu-share li.btn-color-gg-2 {
  border: 0;
}

.menu-share li.btn {
  padding: 0 0;
  line-height: 40px;
  font-weight: normal;
}

.menu-share li .hdr {
  font-size: 14px;
}

.place-search-tag {
  position: relative;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 40px 1fr 40px;
  -ms-grid-columns: 40px 1fr 40px;
}

.place-search-tag .st-lef {
  grid-column: 1;
  -ms-grid-column: 1;
}

.place-search-tag .st-mid {
  grid-column: 2;
  -ms-grid-column: 2;
  white-space: nowrap;
  overflow: hidden;
}

.place-search-tag .st-mid .image {
  display: inline-block;
  margin: 0 2.5px;
  border-radius: 7.5px;
}

.place-search-tag .st-rig {
  grid-column: 3;
  -ms-grid-column: 3;
}

.place-search-tag .btn {
  position: relative;
  width: 40px;
  height: 50px;
  line-height: 50px;
  border-radius: 0;
  font-size: 20px;
}

.place-search-tag .btn.hg-100px {
  height: 100px;
  line-height: 100px;
}

/*navigator*/

.navigator {
  position: relative;
  margin: auto;
  overflow: auto;
}

.navigator ul li {
  list-style: none;
  float: left;
  text-align: center;
  line-height: 45px;
  font-weight: 600;
  font-size: 11pt;
}

.navigator ul li:hover {
  cursor: pointer;
}

.navigator.nav-all ul li {
  padding: 0 15px;
  margin-right: 7.5px;
}

.navigator.nav-2x ul li {
  width: 50%;
}

.navigator.nav-3x ul li {
  width: 33.33%;
}

.navigator.nav-4x ul li {
  width: 25%;
}

.navigator.nav-5x ul li {
  width: 20%;
}

.nav-theme-1 {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 7.5px;
}

.nav-theme-1 ul li {
  background-color: rgba(225, 225, 225, 0.54);
  color: rgba(0, 0, 0, 0.54);
}

.nav-theme-1 ul li:hover {
  color: rgba(0, 0, 0, 0.84);
}

.nav-theme-1 ul li.active {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.84);
}

.nav-theme-2 {
  background-color: #fff;
}

.nav-theme-2 ul li {
  color: rgba(0, 0, 0, 0.54);
}

.nav-theme-2 ul li:hover {
  color: rgba(0, 0, 0, 0.84);
}

.nav-theme-2 ul li.active {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.84);
  border-bottom: 2px rgba(0, 0, 0, 0.84) solid;
}

.nav-theme-3 {
  background-color: #fff;
}

.nav-theme-3 ul li {
  color: rgba(0, 0, 0, 0.54);
  border-radius: 35px;
}

.nav-theme-3 ul li:hover {
  color: rgba(0, 0, 0, 0.84);
}

.nav-theme-3 ul li.active {
  background-color: rgba(225, 225, 225, 0.54);
  color: rgba(0, 0, 0, 0.84);
}

.nav-theme-4 {
  position: relative;
  width: 100%;
  background-color: #fff;
}

.nav-theme-4 ul li {
  color: rgba(0, 0, 0, 0.54);
  border-radius: 45px;
}

.nav-theme-4 ul li:hover {
  background-color: rgba(225, 225, 225, 0.54);
  color: rgba(0, 0, 0, 0.84);
}

.nav-theme-4 ul li.active {
  background-color: rgba(225, 225, 225, 0.54);
  color: rgba(0, 0, 0, 0.84);
}

.nav-wrap {
  white-space: nowrap;
  overflow-x: auto;
}

.nav-wrap * {
  display: inline-block;
}

@media (max-width: 800px) {
  .nav-wrap-mobile {
    white-space: nowrap;
    overflow-x: auto;
  }

  .nav-wrap-mobile * {
    display: inline-block;
  }
}

.navigator-wrap {
  position: relative;
  width: 100%;
  height: 75px;
}

.navigator-wrap .nw-place {
  position: relative;
  width: 100%;
  padding: 5px 0;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 35px 1fr 35px;
  -ms-grid-columns: 35px 1fr 35px;
}

.navigator-wrap .nw-place .grid-1 {
  grid-column: 1;
  -ms-grid-column: 1;
}

.navigator-wrap .nw-place .grid-2 {
  grid-column: 2;
  -ms-grid-column: 2;
}

.navigator-wrap .nw-place .grid-3 {
  grid-column: 3;
  -ms-grid-column: 3;
}

.navigator-wrap .nw-place .place-nav {
  white-space: nowrap;
  overflow: hidden;
}

.navigator-wrap .nw-place .btn-nav {
  position: relative;
  width: 35px;
  text-align: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
}

.navigator-wrap .nw-place .btn-nav:hover {
  color: rgba(0, 0, 0, 0.84);
}

.navigator-wrap .nw-place .btn-nav .icn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navigator-wrap.nw-fixed {
  position: relative;
  width: 100%;
  height: 75px;
}

@media (max-width: 800px) {
  .navigator-wrap.nw-fixed {
    height: 15px;
  }
}

.navigator-wrap.nw-fixed .nw-place {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 100;
  background-color: #fff;
}

.navigator-wrap.nw-fixed-mobile {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 100;
  background-color: #fff;
}

@media (max-width: 800px) {
  .navigator-wrap.nw-fixed-mobile {
    position: relative;
    top: 0;
    z-index: 0;
  }
}

.menu-val {
  position: relative;
}

.menu-val.center {
  margin: auto;
  text-align: center;
}

.menu-val.center ul li {
  text-align: center;
}

.menu-val a {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 600;
}

.menu-val .link {
  color: #529ecc;
  font-weight: 600;
}

.menu-val .link:hover {
  text-decoration: underline;
}

.menu-val ul {
  position: relative;
  width: 100%;
  cursor: default;
}

.menu-val ul li {
  position: relative;
  padding: 5px 2.5px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-weight: 600;
}

.menu-val ul li.right {
  position: absolute;
  right: 0;
  float: right;
}

.menu-val ul li .val {
  color: rgba(0, 0, 0, 0.84);
  font-family: "FontFirstBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 11pt;
}

.menu-val ul li .ttl {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
  font-size: 11pt;
}

.menu-val ul li .image {
  display: inline-block;
  vertical-align: middle;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font-family: "FontFirst", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  background-color: #fff;
}

html.set-scroll {
  overflow-y: hidden;
}

@media (max-width: 800px) {
  html.set-scroll-mobile {
    overflow-y: hidden;
  }
}

a {
  text-decoration: none;
}

@media (max-width: 800px) {
  .mobile {
    display: none;
  }
}

.desktop {
  display: none;
}

@media (max-width: 800px) {
  .desktop {
    display: block;
  }
}

.hide-input-file {
  display: none;
}

.col-all {
  width: calc(100% - 30px);
  margin: 0 auto;
}

.col-full {
  width: 1300px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .col-full {
    width: calc(100% - 20px);
  }
}

.col-small {
  width: 700px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .col-small {
    width: calc(100% - 20px);
  }
}

.col-1000px {
  width: 1000px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .col-1000px {
    width: calc(100% - 20px);
  }
}

.col-900px {
  width: 900px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .col-900px {
    width: calc(100% - 20px);
  }
}

.col-800px {
  width: 800px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .col-800px {
    width: calc(100% - 20px);
  }
}

.col-700px {
  width: 700px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .col-700px {
    width: calc(100% - 20px);
  }
}

.col-600px {
  width: 600px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .col-600px {
    width: calc(100% - 20px);
  }
}

.col-500px {
  width: 500px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .col-500px {
    width: calc(100% - 20px);
  }
}

.col-400px {
  width: 400px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .col-400px {
    width: calc(100% - 20px);
  }
}

.col-300px {
  width: 300px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .col-300px {
    width: calc(100% - 20px);
  }
}

.ctn-main-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.ctn-main-font.ctn-big {
  font-size: 54px;
}

.ctn-main-font.ctn-standar {
  font-size: 44px;
}

.ctn-main-font.ctn-small {
  font-size: 34px;
}

.ctn-main-font.ctn-mikro {
  font-size: 24px;
}

.ctn-main-font.ctn-22px {
  font-size: 22px;
}

.ctn-main-font.ctn-20px {
  font-size: 20px;
}

.ctn-main-font.ctn-18px {
  font-size: 18px;
}

.ctn-main-font.ctn-16px {
  font-size: 16px;
}

.ctn-main-font.ctn-15px {
  font-size: 15px;
}

.ctn-main-font.ctn-14px {
  font-size: 14px;
}

.ctn-main-font.ctn-13px {
  font-size: 13px;
}

.ctn-main-font.ctn-12px {
  font-size: 12px;
}

.ctn-main-font.ctn-11px {
  font-size: 11px;
}

.ctn-main-font.ctn-10px {
  font-size: 10px;
}

.ctn-main-font.ctn-8px {
  font-size: 8px;
}

.ctn-main-font.ctn-upp {
  text-transform: uppercase;
}

.ctn-main-font.ctn-normal {
  text-transform: normal;
}

.ctn-main-font.ctn-center {
  text-align: center;
}

.ctn-main-font.ctn-sek-color {
  color: rgba(0, 0, 0, 0.54);
}

.ctn-main-font.ctn-sek-color a {
  color: rgba(0, 0, 0, 0.54);
}

.ctn-main-font.ctn-sek-color a:hover {
  color: rgba(0, 0, 0, 0.84);
}

.ctn-main-font.ctn-min-color {
  color: rgba(0, 0, 0, 0.84);
}

.ctn-main-font.ctn-min-color a {
  color: rgba(0, 0, 0, 0.84);
}

.ctn-main-font.ctn-min-color a:hover {
  text-decoration: underline;
}

.ctn-main-font.ctn-err-color {
  color: #bd081c;
}

.ctn-main-font.ctn-white-color {
  color: rgba(0, 0, 0, 0.54);
}

.ctn-main-font.ctn-white-color a {
  color: rgba(0, 0, 0, 0.54);
}

.ctn-main-font.ctn-white-color a:hover {
  text-decoration: underline;
}

.ctn-main-font.ctn-font-normal {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ctn-main-font.ctn-line {
  line-height: 1.5;
}

.ctn-main-font.ctn-no-line {
  line-height: 0;
}

.ctn-main-font.ctn-bold {
  font-weight: 900;
}

.ctn-main-font.ctn-thin {
  font-weight: 500;
}

.ctn-main-font.ctn-middle {
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.ctn-main-font.ctn-post-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ctn-main-font.ctn-link a {
  color: #bd081c;
}

.ctn-main-font.ctn-link a:hover {
  color: #bd081c;
  text-decoration: underline;
}

/*header*/

#header {
  position: relative;
  width: 100%;
  height: 65px;
  background-color: #fff;
}

@media (max-width: 800px) {
  #header {
    height: 65px;
  }
}

@media (max-width: 800px) {
  #header.hd-mobile {
    height: 120px;
  }
}

#header .hd-place {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: #fff;
}

@media (max-width: 800px) {
  #header .hd-place {
    border-bottom: 0 #fff solid;
  }
}

#header .hd-place .hd-menu {
  position: relative;
  width: calc(100% - 40px);
  padding: 10px 20px;
  cursor: default;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 120px 1fr 1fr;
  -ms-grid-columns: 120px 1fr 1fr;
}

@media (max-width: 800px) {
  #header .hd-place .hd-menu {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 120px 1fr;
    -ms-grid-columns: 120px 1fr;
    width: calc(100% - 20px);
    padding: 10px 10px;
  }
}

#header .hd-place .hd-menu .hd-pos .main-menu {
  position: relative;
}

#header .hd-place .hd-menu .hd-pos .main-menu .list {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0 0;
}

#header .hd-place .hd-menu .hd-pos .main-menu .list a {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  font-weight: 600;
}

#header .hd-place .hd-menu .hd-pos .main-menu .list a:hover {
  background-color: rgba(225, 225, 225, 0.44);
  color: rgba(0, 0, 0, 0.84);
}

#header .hd-place .hd-menu .hd-pos .main-menu .list a.active {
  background-color: rgba(225, 225, 225, 0.44);
  color: rgba(0, 0, 0, 0.84);
}

@media (max-width: 800px) {
  #header .hd-place .hd-menu .hd-pos .main-menu .list.mobile {
    display: none;
  }
}

#header .hd-place .hd-menu .hd-pos .main-menu .text a {
  position: relative;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  display: block;
  border-radius: 45px;
}

@media (max-width: 500px) {
  #header .hd-place .hd-menu .hd-pos .main-menu .create {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  #header .hd-place .hd-menu .hd-pos .main-menu .create .ttl {
    display: none;
  }
}

#header .hd-place .hd-menu .hd-pos .main-menu .circle {
  position: relative;
}

#header .hd-place .hd-menu .hd-pos .main-menu .circle a {
  position: relative;
  width: 45px;
  height: 45px;
  line-height: 45px;
  display: block;
  border-radius: 100%;
}

#header .hd-place .hd-menu .hd-pos .main-menu .circle .icn {
  position: relative;
  margin: auto;
}

#header .hd-place .hd-menu .hd-pos .main-menu .circle .icn-spc {
  color: #bd081c;
}

#header .hd-place .hd-menu .hd-pos .main-menu .circle .image {
  position: relative;
  top: 7.5px;
  margin: auto;
}

#header .hd-place .hd-menu .hd-lef {
  grid-column: 1;
  -ms-grid-column: 1;
}

#header .hd-place .hd-menu .hd-lef .logo {
  position: relative;
  width: 100px;
  height: 45px;
  overflow: hidden;
}

#header .hd-place .hd-menu .hd-lef .logo img {
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 100%;
}

#header .hd-place .hd-menu .hd-mid {
  grid-column: 2;
  -ms-grid-column: 2;
  text-align: left;
}

@media (max-width: 800px) {
  #header .hd-place .hd-menu .hd-mid.hd-mid-mobile {
    position: fixed;
    top: 60px;
    left: 0;
    width: calc(100% - 20px);
    padding: 7.5px 10px;
    background-color: #fff;
    display: block;
  }
}

#header .hd-place .hd-menu .hd-mid .main-search {
  width: 450px;
  height: 45px;
  overflow: hidden;
  background-color: rgba(225, 225, 225, 0.44);
  border-radius: 7.5px;
}

@media (max-width: 800px) {
  #header .hd-place .hd-menu .hd-mid .main-search {
    width: 100%;
  }
}

#header .hd-place .hd-menu .hd-mid .main-search.select {
  background-color: rgba(225, 225, 225, 0.54);
}

#header .hd-place .hd-menu .hd-mid .main-search.select .txt {
  background-color: rgba(225, 225, 225, 0.54);
  color: rgba(0, 0, 0, 0.84);
}

#header .hd-place .hd-menu .hd-mid .main-search.select .btn {
  background-color: rgba(225, 225, 225, 0.54);
  color: #bd081c;
  border-radius: 0;
}

#header .hd-place .hd-menu .hd-mid .main-search .txt {
  width: calc(100% - 70px);
  float: right;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.54);
}

#header .hd-place .hd-menu .hd-mid .main-search .btn {
  width: 40px;
  padding: 0 0;
  float: left;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.54);
}

#header .hd-place .hd-menu .hd-rig {
  grid-column: 3;
  -ms-grid-column: 3;
  text-align: right;
}

@media (max-width: 800px) {
  #header .hd-place .hd-menu .hd-rig {
    grid-column: 2;
    -ms-grid-column: 2;
  }
}

/*body*/

#body .post-home {
  width: 900px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  #body .post-home {
    width: calc(100% - 20px);
  }
}

@media (max-width: 800px) {
  #body .post-home {
    padding: 10px 0;
  }
}

#body .post-home .side-fixed {
  position: fixed;
  width: 350px;
  bottom: 0;
}

@media (max-width: 800px) {
  #body .post-home .side-fixed {
    position: relative;
    width: 100%;
  }
}

#body .post-home .side-absolute {
  position: absolute;
  right: 0;
  width: 350px;
  bottom: 0;
}

@media (max-width: 800px) {
  #body .post-home .side-absolute {
    position: relative;
    width: 100%;
  }
}

#body .post-compose {
  position: relative;
  width: calc(100% - 15px);
  padding: 15px 7.5px;
  margin: 10px 0;
  border-radius: 15px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 60px 1fr;
  -ms-grid-columns: 60px 1fr;
  grid-gap: 20px;
  -ms-grid-gap: 20px;
}

#body .post-compose:hover {
  background-color: rgba(225, 225, 225, 0.34);
  transition: all 0.25s ease;
}

#body .post-compose .pc-col-1 {
  grid-column: 1;
  -ms-grid-column: 1;
}

#body .post-compose .pc-col-2 {
  position: relative;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  border: 1px rgba(225, 225, 225, 0.54) solid;
  background-color: #fff;
  display: flex;
  flex-wrap: nowrap;
  grid-column: 2;
  -ms-grid-column: 2;
}

#body .post-compose .pc-col-2 .pc-info {
  position: relative;
  width: 270px;
  padding: 20px 0;
  text-align: center;
}

#body .post-compose .pc-col-2 .pc-info:hover .pc-icn {
  margin-top: 10px;
  margin-bottom: 20px;
  transition: all 0.25s ease;
}

#body .post-compose .pc-col-2 .pc-info:hover .pc-ttl {
  color: rgba(0, 0, 0, 0.54);
}

#body .post-compose .pc-col-2 .pc-info .pc-icn {
  margin: 15px 0;
}

#body .post-compose .pc-col-2 .dashed {
  border-left: 2px rgba(225, 225, 225, 0.54) dashed;
}

#body .post-grid {
  position: relative;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 320px;
  -ms-grid-columns: 1fr 320px;
  grid-gap: 50px;
  -ms-grid-gap: 50px;
}

@media (max-width: 800px) {
  #body .post-grid {
    display: block;
  }
}

#body .post-grid .post-grid-1 {
  position: relative;
  width: calc(100%);
  grid-column: 1;
  -ms-grid-column: 1;
}

@media (max-width: 800px) {
  #body .post-grid .post-grid-1 {
    width: calc(100%);
  }
}

#body .post-grid .post-grid-2 {
  position: relative;
  grid-column: 2;
  -ms-grid-column: 2;
}

@media (max-width: 800px) {
  #body .post-grid .post-grid-2 {
    display: none;
  }
}

#body .post-grid .post-grid-2 .pg-place-fixed {
  position: fixed;
  top: 60px;
  width: 320px;
}

#body .post-grid .post-grid-2 .frame-paper-list {
  width: calc(100% - 30px);
}

#body .post-grid .post-grid-2 .frame-paper {
  width: calc(100% - 30px);
}

#body .post-grid .post-grid-2 .frame-topic {
  width: 100%;
  margin: 10px 0;
  display: block;
}

#body .post-flex {
  display: block;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  #body .post-flex {
    display: block;
  }
}

#body .post-navigator {
  white-space: nowrap;
  overflow: hidden;
}

#body .post-navigators .post-flex {
  display: block;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
}

#body .post-navigators .post-flex .frame-paper {
  width: 300px;
  margin: 0 0 0 0;
  margin-right: 7.5px;
}

#body .post-navigators .post-flex .frame-paper-list {
  width: 625px;
  margin: 0 0 0 0;
  margin-right: 7.5px;
}

#body .post-navigators .post {
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#body .post-navigators .post .frame-post-list {
  margin: 0 0 0 0;
  margin-right: 7.5px;
}

/*footer*/

#footer {
  position: relative;
  width: calc(100% - 20px);
  padding: 30px 10px 30px 10px;
  text-align: center;
  cursor: default;
  border-top: 1px rgba(0, 0, 0, 0.1) solid;
}

#footer ul li {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
}

#footer ul li a {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 600;
}

#footer ul li a:hover {
  text-decoration: underline;
}

#footer ul li .icn {
  position: relative;
  top: -2.5px;
  font-size: 5px;
  color: rgba(225, 225, 225, 0.94);
}

