<template>
<div class="story-popup normal">
    <div class="frm-sign">
        <div class="fs-top" style="
            width: 300px;
            height: 150px;
            margin: auto;
        ">
            <router-link to="/welcome">
                <div 
                    class="image image-all" 
                    style="background-image: url('./img/Pictlr/9.png')"></div>
            </router-link>
            <div>
                <p class="txt-site txt-14 txt-primary txt-bold">
                    Login
                </p>
            </div>
        </div>
        <div class="fs-mid">

            <form @submit.prevent="doLogin()">
                
                <div class="fs-text" v-if="frameErr">
                    <div class="txt-site txt-11 txt-danger">
                        {{ message }}
                    </div>
                </div>

                <div class="fs-block">
                    <div class="fs-left">
                        <div class="icn fa fa-lg fa-user"></div>
                    </div>
                    <div class="fs-right">
                        <input 
                            type="text" 
                            name="email" 
                            id="email" 
                            class="txt txt-primary-color"
                            placeholder="Email or username"
                            required="required"
                            v-model="user.email">
                    </div>
                </div>
                <div class="padding-top-10px" v-if="frameErrEmail">
                    <div class="txt-site txt-11 txt-danger">
                        {{ messageEmail }}
                    </div>
                </div>

                <div class="padding-10px"></div>

                <div class="fs-block">
                    <div class="fs-left">
                        <div class="icn fa fa-lg fa-key"></div>
                    </div>
                    <div class="fs-right">
                        <input 
                            type="password" 
                            name="password" 
                            id="password" 
                            class="txt txt-primary-color"
                            required="required"
                            placeholder="Password"
                            v-model="user.password">
                    </div>
                </div>
                <div class="padding-top-10px" v-if="frameErrPass">
                    <div class="txt-site txt-11 txt-danger">
                        {{ messagePass }}
                    </div>
                </div>

                <div class="padding-10px"></div>

                <div class="fs-button">
                    <router-link to="/register">
                        <input 
                            type="button" 
                            value="Register" 
                            class="btn btn-main2-color" 
                            style="float: left;">
                    </router-link>
                    <input 
                        type="submit" 
                        :value="valLogin" 
                        :disabled="disLogin"
                        class="btn btn-main-color">
                </div>

            </form>

        </div>
    </div>
</div>
</template>
<script>
export default {
    data () {
        return {
            url: this.baseUrl+'/api/auth/login',
            message: '',
            messageEmail: '',
            messagePass: '',
            valLogin: 'Login',
            disLogin: false,
            frameErr: false,
            frameErrEmail: false,
            frameErrPass: false,
            user: {
                email: '',
                password: ''
            }
        }
    },
    methods: {
        doLogin () {
            var vm = this;
            this.frameErr = false;
            this.frameErrEmail = false;
            this.frameErrPass = false;
            this.valLogin = 'Please Wait...';
            this.disLogin = true;
            axios.post(this.url, {
                'email': this.user.email,
                'password': this.user.password
            })
            .then(response => {
                if (response.data.status == 'unauthorized') 
                {
                    vm.frameErr = true;
                    vm.message = e.response.responseText;
                    vm.valLogin = 'Try Again';
                    vm.disLogin = false;
                }
                if (response.data.status == 'invalide') 
                {
                    vm.valLogin = 'Try again';
                    vm.disLogin = false;
                    if (response.data.message.password) 
                    {
                        vm.frameErrPass = true;
                        vm.messagePass = response.data.message.password[0];
                    }
                    if (response.data.message.email) 
                    {
                        vm.frameErrEmail = true;
                        vm.messageEmail = response.data.message.email[0];
                    }
                }
                if (response.data.status == 'success') 
                {
                    vm.valLogin = 'Success';
                    vm.disLogin = true;
                    this.$cookie.set('jwt', response.data.me.access_token, 2);
                    this.$cookie.set('id', response.data.me.id, 2);
                    this.$cookie.set('name', response.data.me.name, 2);
                    this.$cookie.set('username', response.data.me.username, 2);
                    this.$cookie.set('foto', response.data.me.foto, 2);
                    window.location = vm.initUrl;
                    // console.log(response.data);
                    
                }
            })
            .catch(e => {
                //main error
                if (e.response.status == 405) 
                {
                    var msg = e.response.statusText;
                }
                // if (e.response.data.status) 
                // {
                //     var msg = 'Please check back your email or password';
                // } else {
                //     var msg = e.response.data.statusText;
                // }
                vm.frameErr = true;
                vm.message = msg;
                vm.valLogin = 'Try Again';
                vm.disLogin = false;
                console.log(e.response);
                
            });
        }
    },
    beforeCreate: function () {
        if (this.$cookie.get('jwt')) 
        {
            this.$router.push('/');
        }
    }
}
</script>