<template>
    <div v-if="$cookie.get('jwt')" class="col-full">
        <frame-design :url="urlGetDesign"></frame-design>
    </div>
</template>
<script>
import FrameDesign from '../post/Card';

export default {
    data () {
        return {
            urlGetDesign: this.baseUrl+'/api/design/feeds?token='+this.$cookie.get('jwt'),
        }
    },
    beforeCreate: function () {
        if (!this.$cookie.get('jwt')) {
            this.$router.push('/welcome');
        }
    },
    components: {
        'frame-design': FrameDesign,
    }
}
</script>

